package markdownviews

import "gh_static_portfolio/internal/app/components"

templ DocLayout(data MarkdownDocument) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ data.Title }</title>
			if data.Static {
				<link rel="stylesheet" href="/python/styles/markdown-styles.css"/>
			} else {
				<link rel="stylesheet" href="/dist/markdown-styles.css"/>
			}
		</head>
		<body class="markdown-body">
			@templ.Raw(data.Content)
		</body>
	</html>
}

templ MarkdownIFrame(data MarkdownDocument) {
	<iframe srcdoc={ data.Content } class="h-[40rem] w-full border-solid border-orange-500"></iframe>
}

templ MarkdownEditorComponent(props MarkdownEditor) {
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css"/>
	<style>
        .CodeMirror {
            height: auto;
            /* Adjusts the editor height dynamically */
        }
    </style>
	<!-- CodeMirror Editor -->
	<textarea
		id={ "slides-editor-text-area" }
		name={ "slides-editor-text-area" }
		class="bg-slate-900 min-w-full min-h-96 font-mono p-2"
		id="editor"
	>
		{ props.Contents }
	</textarea>
	<!-- CodeMirror Scripts -->
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/markdown/markdown.min.js"></script>
	<script>

		document.addEventListener("DOMContentLoaded", function () {
			console.log("This runs after the DOM is fully loaded.");
			// Initialize CodeMirror
			const editor = CodeMirror.fromTextArea(document.getElementById("slides-editor-text-area"), {
				lineNumbers: true,   // Display line numbers
				mode: "markdown",      // Set syntax highlighting mode
				theme: "default",    // Set theme (default in this example)
				tabSize: 4           // Number of spaces for a tab
			});
		});
    </script>
	@appcomponents.ButtonContainer() {
		@appcomponents.CancelEditButton()
		<button hx-post={ props.PostEditFileURL } hx-target="#page" hx-include={ EditSlidesTextAreaID }>
			Submit
		</button>
	}
}
