package markdownviews

import "gh_static_portfolio/internal/app/components"

templ DocLayout(data MarkdownDocument) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ data.Title }</title>
			<link rel="stylesheet" href="/dist/styles/markdown-styles.css"/>
		</head>
		<body class="markdown-body" id="markdown">
			@templ.Raw(data.Content)
		</body>
	</html>
}

templ MarkdownIFrame(data MarkdownDocument) {
	<iframe id="markdown" srcdoc={ data.Content } class="h-[40rem] w-full border-solid border-orange-500"></iframe>
}

templ MarkdownEditorComponent(props MarkdownEditor) {
	<div id="markdown" class="h-screen">
		<!-- CodeMirror Editor -->
		<input
			class="bg-black markdown-form"
			id="name-input"
			name="name"
			value={ props.Name }
		/>
		<textarea
			id="code-editor"
			class="markdown-form"
			name="code-editor"
		>
			{ props.Contents }
		</textarea>
		@appcomponents.ButtonContainer() {
			@props.CancelButton()
			@props.SubmitButton()
		}
	</div>
}
