package markdownviews

import "gh_static_portfolio/internal/app/components"

templ DocLayout(data MarkdownDocument) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ data.Title }</title>
			if data.Static {
				<link rel="stylesheet" href="/python/styles/markdown-styles.css"/>
			} else {
				<link rel="stylesheet" href="/dist/markdown-styles.css"/>
			}
		</head>
		<body class="markdown-body" id="markdown">
			@templ.Raw(data.Content)
		</body>
	</html>
}

templ MarkdownIFrame(data MarkdownDocument) {
	<iframe id="markdown" srcdoc={ data.Content } class="h-[40rem] w-full border-solid border-orange-500"></iframe>
}

templ MarkdownEditorComponent(props MarkdownEditor) {
	<div id="markdown">
		<!-- CodeMirror Editor -->
		<textarea
			id="code-editor"
			name="code-editor"
		>
			{ props.Contents }
		</textarea>
		@appcomponents.ButtonContainer() {
			@appcomponents.CancelEditButton()
			<button hx-post={ props.PostEditFileURL } hx-target="#markdown" hx-include={ "#code-editor" }>
				Submit
			</button>
		}
	</div>
}
