package unitviews

import "gh_static_portfolio/internal/app/components"

templ UnitsListTemplate(props appcomponents.NodeListPage) {
	@appcomponents.NodeListComponent(props)
}

// // CourseManager site
// templ OldUnitsListTemplate(termID, courseID int, listTermCoursesRHN string, createUnitRHN string, units []*domain.Unit, listLessonsRHN, unitDetailsRHN string, e *echo.Echo) {
// 	<button hx-get={ e.Reverse(listTermCoursesRHN, termID) } hx-target={ string(pageElementID.Selector()) } hx-push-url="true">
// 		Back to Term Courses
// 	</button>
// 	for _, unit := range units {
// 		<ul>
// 			<li>
// 				@NewHXButton(HxGet, "", e.Reverse(listLessonsRHN, termID, courseID, unit.ID), pageElementID.Selector(), true).Component() {
// 					Lessons
// 				}
// 				@NewHXButton(HxGet, "", e.Reverse(unitDetailsRHN, termID, courseID, unit.ID), pageElementID.Selector(), true).Component() {
// 					Details
// 				}
// 				<button hx-get={ e.Reverse(listLessonsRHN, termID, courseID, unit.ID) } hx-target="#page" hx-push-url="true">
// 					{ unit.Name }
// 				</button>
// 			</li>
// 		</ul>
// 	}
// 	@NewHXButton(HxGet, "", e.Reverse(createUnitRHN, termID, courseID), "#page", true).Component() {
// 		Add Unit
// 	}
// }
