localhost {
	reverse_proxy localhost:1323
}

*.localhost {
	@assets path /assets/*
	root @assets /home/whlapinel/personal_projects/course_manager/sites
	file_server

	root * /home/whlapinel/personal_projects/course_manager/sites/{labels.1}
	file_server
}
