{{ define "main" }}
  <h1 class="bg-blue-500">{{ .Title }}</h1>
  <p>{{ .Content }}</p>
  {{ with .GetPage .Params.parentPath }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  {{ end }}
  {{ range .Params.filePages }}
    {{ with $.GetPage . }}
      {{ $name := string "" }}
      {{ with .File }}
        {{ $name = .LogicalName }}
      {{ end }}
      <a href="{{ .RelPermalink }}">{{ $name }}</a>
    {{ end }}
  {{ end }}
  {{ range .Resources }}
    <a href="{{ .RelPermalink }}">Resources: {{ .Title }}</a>
  {{ end }}
  {{ partial "debugging.html" . }}
{{ end }}
