{{ define "main" }}
  {{ partial "breadcrumbs.html" . }}
  <h1 class="text-4xl p-2">{{ .Title }}</h1>
  {{ with .GetPage .Params.parentpath }}
    <h2 class="text-3xl p-2">
      <a href="{{ .RelPermalink }}">Up to {{ .LinkTitle }}</a>
    </h2>
  {{ end }}
  <ul class="flex flex-col gap-2 max-w-fit p-2">
    {{ range .RegularPages }}
      <a href="{{ .RelPermalink }}"
        ><li class="bg-purple-500 p-2 rounded items-stretch">
          <p>
            {{ .Title | default .File.BaseFileName }}
          </p>
        </li>
      </a>
    {{ end }}
  </ul>
  {{ partial "debugging.html" . }}
{{ end }}
