package managertemplates

import (
	"gh_static_portfolio/internal/domain"
	"gh_static_portfolio/internal/templates"
	"gh_static_portfolio/internal/util"
	"path/filepath"
	"strconv"
	"strings"
)

// places buttons side by side
templ ButtonContainer() {
	<div class="flex gap-2 self-center">
		{ children... }
	</div>
}

templ CancelEditButton() {
	<button onclick="window.history.back()">
		Cancel
	</button>
}

templ UpNavComponent(props UpNav) {
	if props.URL != "" {
		<button hx-get={ props.URL } hx-target={ string(pageElementID.Selector()) } hx-push-url="true" class="text-xl">
			{ props.Text }
		</button>
	}
}

templ HxButtonComponent(props HXButton) {
	<button
		if props.Method == HxGet {
			hx-get={ props.URL }
		}
		if props.Method == HxPost {
			hx-post={ props.URL }
		}
		if props.Method == HxDelete {
			hx-delete={ props.URL }
		}
		class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none cursor-pointer"
		if props.HxTarget != "" {
			hx-target={ props.HxTarget }
		}
		if props.PushURL {
			hx-push-url="true"
		}
		if props.HxSwap != "" {
			hx-swap={ string(props.HxSwap) }
		}
		if props.HxConfirm !="" {
			hx-confirm={ props.HxConfirm }
		}
	>
		{ props.Text }
		{ children... }
	</button>
}

func upNavText(typeName string) string {
	if typeName == string(domain.RootTypeName) {
		return "Home"
	}
	return typeName + "s"
}

templ EditNameComponent(props NodeDetailsPage) {
	@EditFieldComponent(EditField{
		FieldName:        "Name",
		Content:          props.Node.GetName(),
		IsEdit:           props.IsEdit,
		InputComponent:   InputComponent(FieldInputID("Name"), props.Node.GetName()),
		GetEditFieldURL:  props.GetEditNodeURL,
		PostEditFieldURL: props.PostEditNodeURL,
		Params:           props.Params,
	})
}

templ EditNumberComponent(props NodeDetailsPage) {
	if props.Node.GetNumber() > 0 {
		@EditFieldComponent(EditField{
			FieldName:        "Number",
			IsEdit:           props.IsEdit,
			Content:          strconv.Itoa(props.Node.GetNumber()),
			GetEditFieldURL:  props.GetEditNodeURL,
			Params:           props.Params,
			PostEditFieldURL: props.PostEditNodeURL,
			InputComponent:   NumInputComponent("number", props.Node.GetNumber()),
		})
	}
}

templ EditDescriptionComponent(props NodeDetailsPage) {
	@EditFieldComponent(EditField{
		FieldName:        "Description",
		Content:          props.Node.GetDescription(),
		IsEdit:           props.IsEdit,
		InputComponent:   TextAreaComponent(FieldInputID("Description"), props.Node.GetDescription()),
		PostEditFieldURL: props.PostEditNodeURL,
		GetEditFieldURL:  props.GetEditNodeURL,
		Params:           props.Params,
	})
}

templ EditFieldComponent(
	props EditField,
) {
	<div id={ FieldContainerID(props.FieldName) } class="flex gap-2">
		<p>{ props.FieldName }:</p>
		if props.IsEdit {
			@props.InputComponent
			@CancelEditButton()
			<button
				hx-post={ props.PostEditFieldURL }
				hx-target={ "#page" }
				hx-include={ "#" + FieldInputID(props.FieldName) }
			>Submit</button>
		} else {
			<p>{ props.Content }</p>
			<button
				hx-get={ AddQueryParam(props.GetEditFieldURL, "field", FieldInputID(props.FieldName)) }
				hx-push-url="true"
				hx-swap={ "outerHTML" }
				hx-target={ "#" + FieldContainerID(props.FieldName) }
			>
				Edit
			</button>
		}
	</div>
}

templ InputComponent(inputID string, value string) {
	<input
		class="bg-black"
		type="text"
		name={ inputID }
		id={ inputID }
		value={ value }
	/>
}

templ NumInputComponent(inputID string, value int) {
	<input
		class="bg-black"
		type="number"
		name={ inputID }
		id={ inputID }
		value={ strconv.Itoa(value) }
	/>
}

templ TextAreaComponent(id string, value string) {
	<textarea
		class="bg-black"
		id={ id }
		name={ id }
	>
		{ value }
	</textarea>
}

templ PageHeadingComponent(pageTitle string) {
	<h1 class="text-2xl">{ pageTitle }</h1>
}

// Student-facing site
templ ListedLinkItem(path string, newTab bool) {
	<a href={ FilePathToURL(path) } target={ targetAttrVal(newTab) }>
		<li class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none">
			{ children... }
		</li>
	</a>
}

// created for course calendar so there wouldn't be double-styling
templ UnstyledListedLinkItem(path string, newTab bool) {
	<a href={ FilePathToURL(path) } target={ targetAttrVal(newTab) }>
		<li>
			{ children... }
		</li>
	</a>
}

// static student-facing site
func FilePathToURL(directory string) templ.SafeURL {
	route := RemoveDocsFromPath(directory)
	route = MakeAbsolute(route)
	return Sanitize(route)
}

// static student-facing site
func Sanitize(route string) templ.SafeURL {
	return templ.SafeURL(route)
}

// static student-facing site
func RemoveDocsFromPath(directory string) string {
	return strings.ReplaceAll(directory, "/docs", "")
}

// static student-facing site
func MakeAbsolute(route string) string {
	return "/" + route
}

// Student-facing site
func targetAttrVal(newTab bool) string {
	if newTab {
		return "_blank"
	}
	return "_self"
}

// Student-facing site
// Title for page. Path allows checking for image
templ TitleDiv(title, description, imgPath string, showImg bool, lightBg bool, standards ...domain.Standard) {
	<div class="flex flex-col gap-6 max-w-3xl">
		<h1 class=" text-4xl">{ title }</h1>
		<p class="text-2xl">{ description }</p>
		if len(standards) != 0 {
			<details>
				<summary class="text-xl">Standards/Objectives</summary>
				<ul>
					for _, standard := range standards {
						<li>{ strconv.Itoa(standard.Number) }: { standard.Name }</li>
					}
				</ul>
			</details>
		}
		if showImg == true {
			if lightBg {
				<img src={ string(FilePathToURL(imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400 bg-blue-300"/>
			} else {
				<img src={ string(FilePathToURL(imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400"/>
			}
		}
	</div>
}

// Student-facing site
templ StaticLayout(selectedPage StaticPage) {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Will Lapinel</title>
			<link rel="stylesheet" href="/python/styles/styles.css"/>
			<link rel="icon" href="/python/images/favicon.png"/>
			<script src="/python/js/htmx.js" defer></script>
			<script src="/python/js/index.js" defer></script>
		</head>
		<body class="bg-slate-800 text-white">
			<header>
				<div class="flex justify-between">
					<a
						href={ FilePathToURL("/index.html") }
						hx-select="#page"
						hx-target="#page"
						hx-swap="outerHTML"
					>
						<svg width="300" height="80" xmlns="http://www.w3.org/2000/svg">
							<!-- Background -->
							<rect width="250" height="100" fill="#1e293b"></rect>
							<!-- Text: Initials -->
							<text x="10" y="60" font-family="Arial, sans-serif" font-size="50" font-weight="bold" fill="#4ade80">
								Will Lapinel
							</text>
							<!-- Decorative Line -->
							<line x1="10" y1="70" x2="290" y2="70" stroke="#3b82f6" stroke-width="2"></line>
						</svg>
					</a>
					<div class="sm:hidden" id="hamburger">
						<svg width="64" height="64" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#a3a3a3">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<path d="M4 18L20 18" stroke="#ffffff" stroke-width="1.968" stroke-linecap="round"></path>
								<path d="M4 12L20 12" stroke="#ffffff" stroke-width="1.968" stroke-linecap="round"></path>
								<path d="M4 6L20 6" stroke="#ffffff" stroke-width="1.968" stroke-linecap="round"></path>
							</g>
						</svg>
					</div>
				</div>
				<nav class="flex gap-2 text-white font-bold p-1 mb-5">
					for _, page := range StaticRootPages() {
						<div
							class="relative"
						>
							<a
								if page.Title != "About" {
									href={ FilePathToURL(page.Path) }
									hx-target="#page"
									hx-select="#page"
								}
								class="hover:bg-green-700 p-2 rounded-md cursor-pointer"
								if page.Title == "Home" {
									id={ "nav-index" }
								} else {
									id={ "nav-" + strings.ToLower(page.Title) }
								}
							>
								{ page.Title }
							</a>
						</div>
					}
				</nav>
			</header>
			<main id="page">
				{ children... }
			</main>
		</body>
	</html>
}

// Student-facing site
templ CourseDivContainer(course domain.Course, upPath, text string) {
	<nav class="flex gap-2 ml-4">
		if course.Term.Name != "" {
			<a href={ FilePathToURL(StaticNewCourseCalendarPage(course).Path) }>
				<li class="flex gap-2 text-lg items-center bg-green-600 p-3 rounded hover:bg-green-500">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"></path></svg>
					{ course.Term.Name } Course Calendar
				</li>
			</a>
		}
		if upPath != "" {
			@StaticBackButton(upPath, text)
		}
	</nav>
	<div class="p-4 flex gap-3 flex-col md:flex-row">
		{ children... }
	</div>
}

// Student-facing site
templ StaticBackButton(path, text string) {
	<a href={ FilePathToURL(path) }>
		<li class="flex gap-2 text-lg mb-10 items-center bg-green-600 p-3 rounded hover:bg-green-500">
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"></path></svg>
			<p>Up to { text }</p>
		</li>
	</a>
}

// Student-facing site
templ CourseUnorderedList() {
	<ul class="max-w-fit min-w-fit">
		{ children... }
	</ul>
}

// Student-facing site
templ StaticCoursesListComponent(instances []domain.Course) {
	@StaticLayout(StaticNewCoursesListPage(nil)) {
		@CourseDivContainer(domain.Course{}, "", "") {
			@CourseUnorderedList() {
				for _, instance := range instances {
					@ListedLinkItem(templates.CoursePath(instance, true), false) {
						<p>{ instance.Name }</p>
					}
				}
			}
			@TitleDiv("Python Courses at Phillip O. Berry Academy of Technology", "This section is for students of Python I and II at Phillip O. Berry Academy of Technology. Included are links to all course slides, files and other resources. All assignments must be submitted via Canvas.", "./python/docs/images/Berry_Cardinals.png", true, true)
		}
	}
}

// Student-facing site
templ CourseComponent(instance domain.Course) {
	@StaticLayout(StaticPage{Title: instance.Name}) {
		@CourseDivContainer(instance, templates.StaticSiteCoursesDir+"courses.html", "Course List") {
			@CourseUnorderedList() {
				for _, unit := range instance.Units {
					@ListedLinkItem(templates.UnitPath(unit, instance, true), false) {
						{ unit.Designation() }: { unit.Name }
					}
				}
			}
			@TitleDiv(instance.Name, instance.Description, filepath.Join(templates.CoursePath(instance, false), instance.Image.BasePath), instance.Image.ID != 0, false)
		}
	}
}

// Student-facing site
templ StaticContactComponent() {
	@StaticLayout(StaticNewContactPage()) {
		<h1>Contact Me</h1>
		<p>
			You can reach me at <a class="text-white" href="mailto:williamh.lapinel@cms.k12.nc.us">williamh.lapinel@cms.k12.nc.us</a>
		</p>
	}
}

// Student-facing site
templ StaticUnitComponent(unit domain.Unit, course domain.Course) {
	@StaticLayout(StaticPage{Title: course.Name}) {
		@CourseDivContainer(course, templates.CoursePath(course, true), course.Name) {
			@CourseUnorderedList() {
				for _, lesson := range unit.Lessons {
					@ListedLinkItem(templates.LessonPath(lesson, unit, course, true), false) {
						<strong>{ lesson.Designation() }:</strong> { lesson.Name }
					}
				}
			}
			@TitleDiv(unit.Name, unit.Description, filepath.Join(templates.UnitPath(unit, course, false), unit.Image.BasePath), unit.Image.ID != 0, false)
		}
	}
}

// Student-facing site
templ StaticLessonComponent(page LessonPage) {
	@StaticLayout(StaticPage{Title: page.Course.Name}) {
		@CourseDivContainer(page.Course, templates.UnitPath(page.Unit, page.Course, true), page.Unit.Name) {
			@CourseUnorderedList() {
				if page.HasSlides {
					@ListedLinkItem(SlidesPath(page.Lesson, page.Unit, page.Course), true) {
						Slides
					}
				} else {
					<p>No content for this lesson yet!</p>
				}
				if page.HasFiles {
					@ListedLinkItemAbsoluteURL((templates.LessonFilesURL(page.Lesson, page.Unit, page.Course)), true) {
						Other Files
					}
				}
			}
			@page.TitleDivNew()
		}
	}
}

templ TitleDivNewComponent(data TitleDivData) {
	<div class="flex flex-col gap-6 max-w-3xl">
		<h1 class=" text-4xl">{ data.title }</h1>
		<p class="text-2xl">{ data.description }</p>
		if len(data.standards) != 0 {
			<details>
				<summary class="text-xl">Standards/Objectives</summary>
				<ul>
					for _, standard := range data.standards {
						<li>{ standard.Designation() }: { standard.Name }</li>
					}
				</ul>
			</details>
		}
		if len(data.Assessments)!=0 {
			<details>
				<summary class="text-xl">Assignments</summary>
				<ul class="flex flex-col gap-3 p-4">
					for _, assessment := range data.Assessments {
						<li class="flex gap-1 flex-col border rounded bg-purple-900 min-w-fit p-4">
							<span class="text-2xl">
								{ assessment.Name }
							</span>
							<span>
								Category: { util.Capitalize(assessment.Category.String()) }
							</span>
							if assessment.Instructions != "" {
								<span class="border border-green-500 rounded bg-slate-900 text-green-500 p-2 w-min">
									<pre>
										{ assessment.Instructions }
									</pre>
								</span>
							}
							<span>
								Due: { assessment.DateDue.Format("Mon 1/2/2006") }
							</span>
							if assessment.Dropped {
								<span>
									Status: Dropped
								</span>
							} else {
								<span>
									Status: Active
								</span>
							}
							if assessment.File != "" {
								<a href={ data.FileURL(assessment.File) } target="_blank">{ assessment.File }</a>
							}
							if util.IsMarkdown(assessment.File) {
								<a
									href={ data.ViewMarkdownURL(assessment.File) }
									target="_blank"
									class="bg-green-700 p-3 rounded max-w-fit text-lg"
								>View File</a>
							}
						</li>
					}
				</ul>
			</details>
		}
		if data.showImg == true {
			if data.lightBg {
				<img src={ string(FilePathToURL(data.imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400 bg-blue-300"/>
			} else {
				<img src={ string(FilePathToURL(data.imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400"/>
			}
		}
	</div>
}

// for static site
func (data TitleDivData) Component() templ.Component {
	return TitleDivNewComponent(data)
}

// Student-facing site
func SlidesPath(lesson domain.Lesson, unit domain.Unit, course domain.Course) string {
	return filepath.Join(templates.LessonPath(lesson, unit, course, false), "slides.html")
}

// Student-facing site
templ ListedLinkItemAbsoluteURL(path templ.SafeURL, newTab bool) {
	<a href={ path } target={ targetAttrVal(newTab) }>
		<li class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none">
			{ children... }
		</li>
	</a>
}
