package managertemplates

import "strconv"

templ CourseListComponent(props CourseListPage) {
	@NodeListComponent(props.NodeListPage)
}

templ CourseDetailsComponent(props CourseDetailsPage) {
	@NodeDetailsComponent(props.NodeDetailsPage) {
		<button
			hx-get={ props.GetCopyCourseURL }
		>
			Copy Course To Term
		</button>
	}
}

templ CopyCourseComponent(props CopyCourseData) {
	<form
		id="copy-course-form"
	>
		<select
			class="bg-black"
			id="term-select"
			name="term-id"
		>
			for _, term := range props.Terms {
				<option value={ strconv.Itoa(term.ID) }>{ term.Name }</option>
			}
		</select>
		<button
			hx-post={ props.E.Reverse(props.PostCopyCourseToTermRHN, props.TermID, props.CourseID) }
			hx-include="#copy-course-form"
		>Copy Course</button>
	</form>
}
