package managertemplates

templ HomePageComponent(props HomePage) {
	@PageLayoutComponent(props) {
		<h1 class="text-xl">Welcome to Course Manager</h1>
		@NewHXButton(HxGet, "", props.ListTermsURL, pageElementID.Selector(), true).Component() {
			View Terms
		}
	}
}
