
package managertemplates

// CourseManager site
templ CourseManagerLayoutComponent(cml CourseManagerLayout) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/dist/styles.css"/>
			<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
			<script src="/dist/htmx.js" defer></script>
			<title>Course Manager</title>
		</head>
		// TODO: need to make the header
		<body class="bg-slate-800 text-white p-2 min-h-screen">
			<header>
				<div id="confirmation"></div>
				<nav class="flex">
					@NewHXButton(HxGet, "", cml.E.Reverse(cml.ListTermsRHN), "#page", true).Component() {
						Course Terms
					}
					@NewHXButton(HxPost, "", cml.E.Reverse(cml.GenerateSiteRHN), "#confirmation", false).Component() {
						Generate Site
					}
					@NewHXButton(HxPost, "", cml.E.Reverse(cml.SyncSiteRHN), "#confirmation", false).Component() {
						Sync Site
					}
				</nav>
			</header>
			<main id={ string(pageElementID) } class="min-w-full min-h-screen">
				@cml.Page
			</main>
		</body>
	</html>
}

templ PageLayoutComponent(props Page) {
	@BreadCrumbsComponent(props.BreadCrumbs())
	@PageHeadingComponent(props.PageLayout().PageTitle)
	@UpNavComponent(props.PageLayout().UpNav)
	{ children... }
}

templ BreadCrumbsComponent(props BreadCrumbs) {
	<div class="flex">
		if props.Term.ID != 0 {
			>
			@CrumbsButton(props.TermDetailsURL) {
				{ props.Term.Name }
			}
			if props.Course.ID != 0 {
				>
				@CrumbsButton(props.CourseDetailsURL) {
					{ props.Course.Name }
				}
				if props.Unit.ID != 0 {
					>
					@CrumbsButton(props.UnitDetailsURL) {
						{ props.Unit.Designation() }
					}
					if props.Lesson.ID != 0 {
						>
						@CrumbsButton(props.LessonDetailsURL) {
							{ props.Lesson.Designation() }
						}
					}
				}
			}
		}
	</div>
}

templ CrumbsButton(url string) {
	<button
		class="cursor-pointer"
		hx-get={ url }
		hx-target="#page"
		hx-push-url="true"
	>
		{ children... }
	</button>
}

templ Confirm(msg string) {
	<dialog open class="p-4">
		<form method="dialog">
			<p>{ msg }</p>
			<button>OK</button>
		</form>
	</dialog>
}
