
package managertemplates

templ PageLayoutComponent(props Page) {
	@props.BreadCrumbs().Component()
	@PageHeadingComponent(props.PageLayout().PageTitle)
	@UpNavComponent(props.PageLayout().UpNav)
	{ children... }
}

templ Confirm(msg string) {
	<dialog open class="p-4">
		<form method="dialog">
			<p>{ msg }</p>
			<button>OK</button>
		</form>
	</dialog>
}
