package managertemplates

import (
	"gh_static_portfolio/internal/domain"
	"github.com/labstack/echo/v4"
)

templ LessonListTemplate(props NodeListPage) {
	@NodeListComponent(props)
}

// CourseManager site
templ OldLessonListTemplate(termID, courseID, unitID int, lessons []*domain.Lesson, listCourseUnitsRHN, lessonRouteName, createLessonRHN string, e *echo.Echo) {
	<button hx-get={ e.Reverse(listCourseUnitsRHN, termID, courseID) } hx-target={ pageElementID.Selector() } hx-push-url="true">
		Back to Course Units
	</button>
	for _, lesson := range lessons {
		<ul>
			<li>
				<button hx-get={ e.Reverse(lessonRouteName, termID, courseID, unitID, lesson.ID) } hx-target={ pageElementID.Selector() } hx-push-url="true">
					{ lesson.Name }
				</button>
			</li>
		</ul>
	}
	@NewHXButton(HxGet, "", e.Reverse(createLessonRHN, termID, courseID, unitID), "#page", true).Component() {
		Add Lesson
	}
}
