package managertemplates

import (
	"gh_static_portfolio/internal/domain"
	"gh_static_portfolio/internal/util"
	"github.com/labstack/echo/v4"
	"strconv"
	"time"
)

templ LessonDetailsComponent(props LessonDetailsPage, components ...templ.Component) {
	@NodeDetailsComponent(props.NodeDetailsPage) {
		if  props.Lesson().Standards != nil {
			<ul>
				for _, objective := range props.Lesson().Standards {
					<li id="objective">
						{ strconv.Itoa(objective.ParentNum) }.{ strconv.Itoa(objective.Number) } { objective.Name }
						<button hx-delete={ props.DeleteStandardURL(objective.ID) } hx-target="#page">Remove</button>
					</li>
				}
			</ul>
		} else {
			<p>No standard selected</p>
		}
		<details>
			<summary>Choose Standard</summary>
			<ul>
				for _, standard := range props.Standards {
					<details>
						<summary>{ standard.Name }</summary>
						<select name="objective" id={ "objective-select-" + strconv.Itoa(standard.ID) } class="bg-black">
							for _, objective := range standard.Children {
								<option value={ strconv.Itoa(objective.ID) }>
									{ strconv.Itoa(objective.ParentNum) }{ "." }{ strconv.Itoa(objective.Number) }{ " " }{ objective.Name }
								</option>
							}
						</select>
						<button hx-post={ props.PostLessonStandardURL } hx-include={ "#objective-select-" + strconv.Itoa(standard.ID) } hx-target="#page">Add</button>
					</details>
				}
			</ul>
		</details>
		if props.Lesson().Assessments != nil {
			<ul>
				for _, assessment := range props.Lesson().Assessments {
					<li id="assessment">
						<details>
							<summary>
								{ assessment.Name }
							</summary>
							<p>{ DisplayCategory(assessment.Category) }</p>
							<p>Due: { assessment.DateDue.Format(time.DateOnly) }</p>
							<pre>{ assessment.Instructions }</pre>
							if assessment.File != "" {
								<a href={ templ.SafeURL(props.E.Reverse(props.FileRHN, AddParams(props.Params, assessment.File)...)) }>
									File: { assessment.File }
								</a>
								if util.IsMarkdown(assessment.File) {
									@props.ViewMarkdownButton(assessment.File)
								}
							}
						</details>
						<button
							hx-get={ props.E.Reverse(props.GetEditAssessmentRHN, AddParams(props.Params, assessment.ID)...) }
							hx-target="#assessment"
						>
							Edit
						</button>
						<button hx-delete={ props.DeleteAssessmentURL(assessment.ID) } hx-target="#page">Remove</button>
					</li>
				}
			</ul>
		} else {
			<p>No Assessment</p>
		}
		<details>
			<summary>Add Assessment</summary>
			@props.NewAssessmentForm()
		</details>
		<div id={ EditSlidesContainerID.String() } class="flex flex-col min-w-screen">
			@ButtonContainer() {
				@props.EditSlidesButton()
			}
		</div>
		if lesson, ok := props.Node.(*domain.Lesson); ok {
			if lesson.Dates != nil {
				for _, date := range lesson.Dates {
					<ul>
						<li>
							{ date.Format(time.DateOnly) }
						</li>
					</ul>
				}
			}
		}
	}
	<button id="show-slides-btn">Show Slides</button>
	<div id="slides" class="flex justify-center h-0 overflow-hidden">
		<script src="/dist/lesson-details.js"></script>
		if props.Slides != "" {
			@Slides(props.Slides)
		}
	</div>
	<div id="markdown">
		for _, component := range components {
			@component
		}
	</div>
}

templ EditAssessmentFormComponent(props EditAssessmentForm) {
	<form id="edit-assessment-form">
		<div class="grid grid-cols-2 gap-1">
			<input type="hidden" class="bg-black" value={ strconv.Itoa(props.Assessment.ID) }/>
			<label for="name">Name</label>
			<input type="text" name="name" id="name" value={ props.Assessment.Name } class="bg-black"/>
			<label for="instructions">Instructions</label>
			<textarea class="bg-black font-mono p-1 w-full" id="instructions" name="instructions">{ props.Assessment.Instructions }</textarea>
			<label for="date-assigned">Assigned</label>
			<input type="date" name="date-assigned" id="date-assigned" value={ props.Assessment.DateAssigned.Format(time.DateOnly) } class="bg-black"/>
			<label for="date-due">Due</label>
			<input type="date" name="date-due" id="date-due" value={ props.Assessment.DateDue.Format(time.DateOnly) } class="bg-black"/>
			<label for="category">Category</label>
			<select name="category" id="category" class="bg-black">
				<option
					value={ strconv.Itoa(int(domain.Prepare)) }
					selected?={ props.Assessment.Category == domain.Prepare }
				>Prepare</option>
				<option
					value={ strconv.Itoa(int(domain.Rehearse)) }
					selected?={ props.Assessment.Category == domain.Rehearse }
				>Rehearse</option>
				<option
					value={ strconv.Itoa(int(domain.Perform)) }
					selected?={ props.Assessment.Category == domain.Perform }
				>Perform</option>
				<option
					value={ strconv.Itoa(int(domain.Midterm)) }
					selected?={ props.Assessment.Category == domain.Midterm }
				>Midterm</option>
				<option
					value={ strconv.Itoa(int(domain.Final)) }
					selected?={ props.Assessment.Category == domain.Final }
				>Final</option>
			</select>
			<label for="file">File</label>
			<input id="file" name="file" type="text" class="bg-black" value={ props.Assessment.File }/>
			<fieldset>
				<legend>Status</legend>
				<div>
					<input type="radio" id="active" name="dropped" value="false" checked?={ !props.Assessment.Dropped }/>
					<label for="active">Active</label>
				</div>
				<div>
					<input type="radio" id="dropped" name="dropped" value="true" checked?={ props.Assessment.Dropped }/>
					<label for="dropped">Dropped</label>
				</div>
			</fieldset>
		</div>
		<button hx-get={ props.LessonDetailsURL } hx-target="#page">Cancel</button>
		<button type="submit" hx-post={ props.PostEditAssessmentURL } hx-target="#page">Submit</button>
	</form>
}

templ ObjectiveSelectComponent(props ObjectiveSelect) {
	<select id="objectives-select" name="objective">
		for _, objective := range props.Objectives {
			<option value={ strconv.Itoa(objective.ID) }>{ objective.Name }</option>
		}
	</select>
}

templ Slides(htmlContent string) {
	<iframe srcdoc={ htmlContent } class="h-[40rem] w-full border-solid border-orange-500"></iframe>
}

// templ DescriptionInput(inputID ElementID, description string) {
// 	<textarea
// 		id={ string(inputID) }
// 		class="bg-black min-w-52 min-h-fit"
// 		name={ string(inputID) }
// 	>{ description }</textarea>
// }

// templ NameInput(inputID ElementID, name string) {
// 	<input
// 		class="bg-black"
// 		id={ string(inputID) }
// 		name={ string(inputID) }
// 		type="text"
// 		value={ name }
// 	/>
// }
templ EditSlidesTemplate(params domain.NodePath, contents string, editSlidesPostRouteHandler string, e *echo.Echo) {
	// <textarea
	// 	id={ EditSlidesTextAreaID.String() }
	// 	name={ EditSlidesTextAreaID.String() }
	// 	class="bg-slate-900 min-w-full min-h-96 font-mono"
	// >
	// 	{ contents }
	// </textarea>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css"/>
	<style>
        .CodeMirror {
            height: auto;
            /* Adjusts the editor height dynamically */
        }
    </style>
	<!-- CodeMirror Editor -->
	<textarea
		id={ "slides-editor-text-area" }
		name={ "slides-editor-text-area" }
		class="bg-slate-900 min-w-full min-h-96 font-mono p-2"
		id="editor"
	>
		{ contents }
	</textarea>
	<!-- CodeMirror Scripts -->
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/markdown/markdown.min.js"></script>
	<script>

		document.addEventListener("DOMContentLoaded", function () {
			console.log("This runs after the DOM is fully loaded.");
			// Initialize CodeMirror
			const editor = CodeMirror.fromTextArea(document.getElementById("slides-editor-text-area"), {
				lineNumbers: true,   // Display line numbers
				mode: "markdown",      // Set syntax highlighting mode
				theme: "default",    // Set theme (default in this example)
				tabSize: 4           // Number of spaces for a tab
			});
		});
    </script>
	@ButtonContainer() {
		@CancelEditButton()
		<button hx-post={ e.Reverse(editSlidesPostRouteHandler, params.ToSlice()...) } hx-target="#page" hx-include={ string(EditSlidesTextAreaID.Selector()) }>
			Submit
		</button>
	}
}

// delete once new assessment form is working
templ OldAssessmentForm(props LessonDetailsPage) {
	<form id="add-assignment-form">
		<label for="name">Name</label>
		<input id="name" name="name" type="text" class="bg-black"/>
		<label for="date-assigned">Assigned</label>
		<input
			class="bg-black"
			id="date-assigned"
			name="date-assigned"
			type="date"
			if props.Lesson().Dates != nil {
				value={ props.Lesson().Dates[0].Format(time.DateOnly) }
			}
		/>
		<label for="date-due">Due</label>
		<input class="bg-black" id="date-due" name="date-due" type="date"/>
		<label for="category">Category</label>
		<select name="category" class="bg-black">
			<option value={ strconv.Itoa(int(domain.Prepare)) }>Prepare</option>
			<option value={ strconv.Itoa(int(domain.Rehearse)) }>Rehearse</option>
			<option value={ strconv.Itoa(int(domain.Perform)) }>Perform</option>
			<option value={ strconv.Itoa(int(domain.Midterm)) }>Midterm</option>
			<option value={ strconv.Itoa(int(domain.Final)) }>Final</option>
		</select>
		<label for="file">File</label>
		<input id="file" name="file" type="text" class="bg-black"/>
		<label for="instructions">Instructions</label>
		<textarea class="bg-black font-mono p-1 w-full" id="instructions" name="instructions"></textarea>
		<input type="hidden" name="lesson-id" value={ strconv.Itoa(props.Lesson().ID) }/>
		<button hx-post={ props.PostAssessmentURL } hx-target="#page" hx-push-url="true">Submit</button>
	</form>
}
