package managertemplates

import "gh_static_portfolio/internal/domain"

templ NodeCreateComponent(props NodeCreatePage) {
	@PageLayoutComponent(props) {
		<form id={ NodeCreateFormID(props.NodeType) } class="grid grid-cols-2 gap-2">
			if props.NodeType == domain.UnitTypeName || props.NodeType == domain.LessonTypeName {
				<label for="number">Number</label>
				<input type="number" id="number" name="number" class="bg-black" required/>
			}
			<label for="name">Name</label>
			<input
				class="bg-black"
				type="text"
				id="name"
				name="name"
				required
			/>
			<label for="description">Description</label>
			<textarea
				class="bg-black"
				id="description"
				name="description"
			></textarea>
			if props.NodeType == domain.TermTypeName {
				<label for="start-date">Start Date</label>
				<input
					class="bg-black"
					type="date"
					id="start-date"
					name="start-date"
					required
				/>
				<label for="end-date">End Date</label>
				<input
					class="bg-black"
					type="date"
					id="end-date"
					name="end-date"
					required
				/>
			}
			<button
				hx-post={ props.PostCreateNodeURL }
				hx-target={ pageElementID.Selector() }
				hx-include={ "#" + NodeCreateFormID(props.NodeType) }
			>
				Submit
			</button>
		</form>
	}
}
