package managertemplates

import (
	"gh_static_portfolio/internal/domain"
	"github.com/labstack/echo/v4"
	"time"
)

templ TermDetailsComponent(page TermDetailsPage) {
	@NodeDetailsComponent(page.NodeDetailsPage) {
		<button
			hx-get={ page.ShowEditTermDatesURL }
			hx-target={ string(pageElementID.Selector()) }
		>Non Instructional Dates</button>
	}
}

templ AddNonInstructDayComponent(page AddNonInstructDayPage) {
	<h1>Hello</h1>
	<p>Note: Weekends are automatically excluded from instructional days.</p>
	<form hx-post={ page.PostAddDayURL } hx-target={ string(pageElementID.Selector()) }>
		<label for="date">Date</label>
		<input type="date" id="date" name="date" class="bg-black" required/>
		<button type="submit">Add</button>
	</form>
	<ul>
		if len(page.Term.NonInstructionalDays) == 0 {
			<li>No non-instructional days</li>
		}
		for _, day := range page.Term.NonInstructionalDays {
			<li>{ day.Format(time.DateOnly) }</li>
		}
	</ul>
}

// CourseManager site
templ TermsListTemplate(terms []domain.Term, termCoursesRHN string, e *echo.Echo) {
	<ul>
		for _, term := range terms {
			<li>
				<button hx-get={ e.Reverse(termCoursesRHN, term.ID) } hx-target={ string(pageElementID.Selector()) } hx-push-url="true">
					{ term.Name }
				</button>
			</li>
		}
	</ul>
}
