package managertemplates

import (
	"gh_static_portfolio/cmd/domain"
	"gh_static_portfolio/cmd/util"
	"github.com/labstack/echo/v4"
	"strconv"
)

templ ShiftButtonTemplate(termID, courseID, unitID, lessonID int, shiftLessonRouteHandlerName string, cd domain.CalendarDirection, e *echo.Echo) {
	<button hx-post={ e.Reverse(shiftLessonRouteHandlerName, termID, courseID, unitID, lessonID, cd) } hx-target="#page">
		if cd == domain.Right {
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"></path></svg>
		} else if cd == domain.Left {
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"></path></svg>
		}
	</button>
}

templ CalendarLessonContainer(sbf ShiftButtonFactory, lesson domain.Lesson, lessonDetailsRouteHandlerName string) {
	<li>
		<div class="flex">
			@sbf.ShiftButton(lesson.UnitID, lesson.ID, domain.Left)
			<div
				class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none cursor-pointer"
				hx-get={ sbf.e.Reverse(lessonDetailsRouteHandlerName, 
															sbf.TermID, 
															sbf.CourseID, 
															lesson.UnitID, 
															lesson.ID,
															) }
				hx-target="#page"
				hx-push-url="true"
			>
				{ lesson.Name }
			</div>
			@sbf.ShiftButton(lesson.UnitID, lesson.ID, domain.Right)
		</div>
	</li>
}

// CourseManager site
templ CourseCalendarTemplate(course domain.Course, lessonDetailsRouteHandlerName, shiftLessonRouteHandlerName, listTermCoursesRHN string, e *echo.Echo) {
	<button hx-get={ e.Reverse(listTermCoursesRHN, course.Term.ID) } hx-target={ string(pageElementID.Selector()) } hx-push-url="true">
		Back to Term Courses
	</button>
	<div id="calendar" class="flex flex-col gap-4">
		for _, day := range course.Term.TermMonths() {
			<h1 class="text-2xl text-center">Month of { day.Month().String() } { strconv.Itoa(day.Year()) }</h1>
			<div id="month-container" class="flex flex-col border border-solid">
				for _, week := range util.GetMonthDates(day) {
					<div id="week-container" class="grid grid-cols-5">
						for _, calDate := range week[1:6] {
							<div id="date-container">
								if !calDate.IsZero() {
									{ calDate.Format("Mon 1/02/06") }
								}
								<ul>
									if course.Term.IsInstructionDay(calDate) {
										for _, unit := range course.Units {
											for _, lesson := range unit.Lessons {
												for _, lessonDate := range lesson.Dates {
													if util.IsSameDate(lessonDate, calDate) {
														@CalendarLessonContainer(NewShiftButtonFactory(course, shiftLessonRouteHandlerName, e), *lesson, lessonDetailsRouteHandlerName)
													}
												}
											}
										}
									}
								</ul>
							</div>
						}
					</div>
				}
			</div>
		}
	</div>
}
