package managertemplates

import (
	"gh_static_portfolio/cmd/domain"
	"github.com/labstack/echo/v4"
)

templ CoursesListTemplate(props NodeListPage) {
	@NodeListComponent(props)
}

// CourseManager site
templ OldCoursesListTemplate(
	termID int, courses domain.Courses, listTermsRHN string, unitsRouteHandlerName string, courseCalendarRouteHandlerName string, e *echo.Echo,
) {
	<button hx-get={ e.Reverse(string(listTermsRHN)) } hx-target={ string(pageElementID.Selector()) } hx-push-url="true">
		Back to Terms
	</button>
	for _, course := range courses {
		<ul>
			<li class="flex gap-2">
				<span>{ course.Name }</span>
				@NewHXButton(HxGet, "", e.Reverse(unitsRouteHandlerName, termID, course.ID), pageElementID.Selector(), true).Component() {
					Course Units
				}
				@NewHXButton(HxGet, "", e.Reverse(courseCalendarRouteHandlerName, termID, course.ID), pageElementID.Selector(), true).Component() {
					Course Calendar
				}
			</li>
		</ul>
	}
}
