package managertemplates

import (
	"gh_static_portfolio/cmd/domain"
	"github.com/labstack/echo/v4"
	"time"
)

templ LessonDetailsComponent(props LessonDetailsPage) {
	@NodeDetailsComponent(props.NodeDetailsPage) {
		<div id={ EditSlidesContainerID.String() } class="flex flex-col min-w-screen">
			@ButtonContainer() {
				<a
					class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none cursor-pointer"
					href={ templ.SafeURL(props.FilesURL) }
					target="_blank"
				>Files</a>
				@NewHXButton(HxGet, "", props.GetSlidesURL, "#slides", true).Component() {
					View Slides
				}
				@NewHXButton(HxGet, "", props.EditSlidesURL, EditSlidesContainerID.Selector(), true).Component() {
					Edit Slides
				}
			}
		</div>
		if lesson, ok := props.Node.(*domain.Lesson); ok {
			for _, date := range lesson.Dates {
				<ul>
					<li>
						{ date.Format(time.DateOnly) }
					</li>
				</ul>
			}
		}
	}
	<div id="slides" class="flex justify-center"></div>
}

templ Slides(htmlContent string) {
	<iframe srcdoc={ htmlContent } class="w-full h-[35rem]"></iframe>
}

// templ DescriptionInput(inputID ElementID, description string) {
// 	<textarea
// 		id={ string(inputID) }
// 		class="bg-black min-w-52 min-h-fit"
// 		name={ string(inputID) }
// 	>{ description }</textarea>
// }

// templ NameInput(inputID ElementID, name string) {
// 	<input
// 		class="bg-black"
// 		id={ string(inputID) }
// 		name={ string(inputID) }
// 		type="text"
// 		value={ name }
// 	/>
// }
templ EditSlidesTemplate(params CourseIDParams, contents string, editSlidesPostRouteHandler string, e *echo.Echo) {
	<textarea id={ EditSlidesTextAreaID.String() } name={ EditSlidesTextAreaID.String() } class="bg-slate-900 min-w-full min-h-96 font-mono">
		{ contents }
	</textarea>
	@ButtonContainer() {
		@CancelEditButton()
		<button hx-post={ e.Reverse(editSlidesPostRouteHandler, params.ToIntSlice()...) } hx-include={ string(EditSlidesTextAreaID.Selector()) }>
			Submit
		</button>
	}
}
