package templates

import (
	"gh_static_portfolio/cmd/domain"
	"gh_static_portfolio/cmd/templates"
	"path/filepath"
	"strconv"
)

// Student-facing site
templ CourseDivContainer(course domain.Course, upPath, text string) {
	<nav class="flex gap-2 ml-4">
		if course.Term.Name != "" {
			<a href={ FilePathToURL(NewCourseCalendarPage(course).Path) }>
				<li class="flex gap-2 text-lg items-center bg-green-600 p-3 rounded hover:bg-green-500">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"></path></svg>
					{ course.Term.Name } Course Calendar
				</li>
			</a>
		}
		if upPath != "" {
			@BackButton(upPath, text)
		}
	</nav>
	<div class="p-4 flex gap-3 flex-col md:flex-row">
		{ children... }
	</div>
}

// Student-facing site
templ CourseUnorderedList() {
	<ul class="max-w-fit min-w-fit">
		{ children... }
	</ul>
}

// Student-facing site
func targetAttrVal(newTab bool) string {
	if newTab {
		return "_blank"
	}
	return "_self"
}

// Student-facing site
templ ListedLinkItem(path string, newTab bool) {
	<a href={ FilePathToURL(path) } target={ targetAttrVal(newTab) }>
		<li class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none">
			{ children... }
		</li>
	</a>
}

// Student-facing site
templ ListedLinkItemAbsoluteURL(path templ.SafeURL, newTab bool) {
	<a href={ path } target={ targetAttrVal(newTab) }>
		<li class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none">
			{ children... }
		</li>
	</a>
}

// Student-facing site
templ BackButton(path, text string) {
	<a href={ FilePathToURL(path) }>
		<li class="flex gap-2 text-lg mb-10 items-center bg-green-600 p-3 rounded hover:bg-green-500">
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"></path></svg>
			<p>Up to { text }</p>
		</li>
	</a>
}

// Student-facing site
// Title for page. Path allows checking for image
templ TitleDiv(title, description, imgPath string, showImg bool, lightBg bool) {
	<div class="flex flex-col gap-6 max-w-3xl">
		<h1 class=" text-4xl">{ title }</h1>
		<p class="text-2xl">{ description }</p>
		if showImg == true {
			if lightBg {
				<img src={ string(FilePathToURL(imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400 bg-blue-300"/>
			} else {
				<img src={ string(FilePathToURL(imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400"/>
			}
		}
	</div>
}

// Student-facing site
templ CoursesListComponent(instances []*domain.Course) {
	@Layout(NewCoursesListPage(nil)) {
		@CourseDivContainer(domain.Course{}, "", "") {
			@CourseUnorderedList() {
				for _, instance := range instances {
					@ListedLinkItem(templates.CoursePath(*instance, true), false) {
						<p>{ instance.Name }</p>
					}
				}
			}
			@TitleDiv("Python Courses at Phillip O. Berry Academy of Technology", "This section is for students of Python I and II at Phillip O. Berry Academy of Technology. Included are links to all course slides, files and other resources. All assignments must be submitted via Canvas.", "./python/docs/images/Berry_Cardinals.png", true, true)
		}
	}
}

// Student-facing site
templ CourseComponent(instance domain.Course) {
	@Layout(Page{Title: instance.Name}) {
		@CourseDivContainer(instance, templates.StaticSiteCoursesDir+"courses.html", "Course List") {
			@CourseUnorderedList() {
				for _, unit := range instance.Units {
					@ListedLinkItem(templates.UnitPath(*unit, instance, true), false) {
						if unit.Number < 0 {
							{ unit.Description }
						} else {
							Unit { strconv.Itoa(unit.Number) }: { unit.Description }
						}
					}
				}
			}
			@TitleDiv(instance.Name, instance.Description, filepath.Join(templates.CoursePath(instance, false), instance.Image.BasePath), instance.Image.ID != 0, false)
		}
	}
}

// Student-facing site
templ UnitComponent(unit domain.Unit, instance domain.Course) {
	@Layout(Page{Title: instance.GetTitle()}) {
		@CourseDivContainer(instance, templates.CoursePath(instance, true), instance.Name) {
			@CourseUnorderedList() {
				for _, lesson := range unit.Lessons {
					@ListedLinkItem(templates.LessonPath(*lesson, unit, instance, true), false) {
						if unit.Number < 0 {
							<strong>Day { strconv.Itoa(lesson.Number) }:</strong> { lesson.Description }
						} else {
							<strong>Lesson { strconv.Itoa(lesson.Number) }:</strong> { lesson.Description }
						}
					}
				}
			}
			@TitleDiv(unit.Name, unit.Description, filepath.Join(templates.UnitPath(unit, instance, false), unit.Image.BasePath), unit.Image.ID != 0, false)
		}
	}
}

// Student-facing site
templ LessonComponent(lesson domain.Lesson, unit domain.Unit, course domain.Course, hasSlides, hasFiles bool) {
	@Layout(Page{Title: course.GetTitle()}) {
		@CourseDivContainer(course, templates.UnitPath(unit, course, true), unit.GetTitle()) {
			@CourseUnorderedList() {
				if !hasSlides {
					@ListedLinkItem(SlidesPath(lesson, unit, course), true) {
						Slides
					}
				} else {
					<p>No content for this lesson yet!</p>
				}
				if !hasFiles {
					@ListedLinkItemAbsoluteURL((templates.LessonFilesURL(lesson, unit, course)), true) {
						Other Files
					}
				}
			}
			@TitleDiv(lesson.Name, lesson.Description, filepath.Join(templates.LessonPath(lesson, unit, course, false), lesson.Image.BasePath), lesson.Image.ID != 0, false)
		}
	}
}
