{% extends 'base.html' %}
{% block content %}
<h2>Tasks</h2>
<ul>
    {% for task in tasks %}
    <li class="list-item">
        {% if not task[2] %}
        <form action="{{ url_for('complete_task', task_id=task[0]) }}" method="post">
            <button type="submit">Mark Complete</button>
        </form>
        {% endif %}
        <span class="{{ 'completed' if task[2] else 'not-completed' }} item-span">{{ task[1] }}</span>
    </li>
    {% endfor %}
</ul>
<h3>Add Task</h3>
<form action="{{ url_for('add_task') }}" method="POST">
    <input type="text" name="description" placeholder="Task description" required>
    <button type="submit">Add</button>
</form>
{% endblock %}