package templates

// Student-facing site
templ StaticNodeListComponent(page StaticNodeListPage) {
	@page.BreadCrumbs()
	@page.PageHeading()
	@page.TableComponent()
	// for _, child := range page.ChildLinks {
	// 	<li>
	// 		<a href={ templ.SafeURL(child.URL) }>{ child.Text }</a>
	// 	</li>
	// }
}

templ StaticNodeDetailsComponent(page StaticNodeDetailsPage) {
	@page.BreadCrumbs()
	<p>{ page.Node.GetName() }</p>
	<p>{ page.Node.GetDescription() }</p>
}
