package components

templ PageHeadingComponent(props PageLayout) {
	<div>
		<div>
			<nav class="sm:hidden" aria-label="Back">
				<a href="#" class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-200">
					<svg class="mr-1 -ml-1 size-5 shrink-0 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
						<path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path>
					</svg>
					Back
				</a>
			</nav>
		</div>
		@props.BreadCrumbs()
		<div class="mt-2 md:flex md:items-center md:justify-between">
			<div class="min-w-0 flex-1">
				<h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">{ props.PageTitle }</h2>
			</div>
			<div class="mt-4 flex shrink-0 md:mt-0 md:ml-4">
				<button type="button" class="inline-flex items-center rounded-md bg-white/10 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-white/20">Edit</button>
				<button type="button" class="ml-3 inline-flex items-center rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Publish</button>
			</div>
		</div>
	</div>
}

templ BreadCrumbsComponent(props BreadCrumbs) {
	<nav class="hidden sm:flex" aria-label="Breadcrumb">
		<ol role="list" class="flex items-center space-x-4">
			for i, item := range props.Items {
				<li>
					<div
						if i != 0 {
							class="flex"
						} else {
							class="flex items-center"
						}
					>
						if i != 0 {
							<svg class="size-5 shrink-0 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
								<path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
							</svg>
						}
						@item.Component()
					</div>
				</li>
			}
		</ol>
	</nav>
}
