{{ define "main" }}
  {{ partial "breadcrumbs.html" . }}
  <div>
    {{ partial "debugging.html" . }}
    <hr />
    <div class="markdown-body p-2">
      <!-- .Params.files is parsed from front matter -->
      <h1>{{ .Title }}</h1>
      <p>Supporting Resources</p>
      {{ range .Params.files }}
        {{ $file := . }}
        {{ with $.Parent }}
          {{ with .Resources.Get $file }}
            <a href="{{ .RelPermalink | absURL }}">{{ $file }}</a>
          {{ else }}
            <p>Boo hoo, resource not found: {{ $file }}</p>
          {{ end }}
        {{ end }}
      {{ end }}
      {{ .Content }}
    </div>

    <hr />
  </div>
{{ end }}
