{{ define "main" }}
  {{ partial "breadcrumbs.html" . }}
  <div>
    {{ partial "debugging.html" . }}


    <!-- begin the new code -->
    {{ $doc := printf `<!doctype html>
      <html>
      <head>
      <meta charset="utf-8">
      <base target="_blank">


      <!-- need to use links for both app stylesheet as well as static so that preview will work from app side -->

      <!-- I know this is not ideal, I don't like sending 404 for anything but it's a temporary solution -->

      <link href="/styles/markdown-styles.css" rel="stylesheet" />
      <link href="/dist/styles/markdown-styles.css" rel="stylesheet" />
      </head>
      <body class="markdown-body">
      <h1>
      %s
      </h1>
      %s
      </body>
      </html>` .Title (.Content | safeHTML)
    }}
    <iframe
      srcdoc="{{ $doc }}"
      style="width:100%; border:0; min-height:60vh;"
      loading="lazy"
    ></iframe>

    <!-- end new code -->
    <hr />
    <div class="markdown-body p-2">
      <!-- .Params.files is parsed from front matter -->
      <p>Supporting Resources</p>
      {{ range .Params.files }}
        {{ $file := . }}
        {{ with $.Parent }}
          {{ with .Resources.Get $file }}
            <a href="{{ .RelPermalink | absURL }}">{{ $file }}</a>
          {{ else }}
            <p>Boo hoo, resource not found: {{ $file }}</p>
          {{ end }}
        {{ end }}
      {{ end }}
      <!-- {{ .Content }} -->
    </div>

    <hr />
  </div>
{{ end }}
