package dashboardviews

import "gh_static_portfolio/internal/app/components"

templ UserHomePageComponent(props UserHomePage) {
	@appcomponents.PageLayoutComponent(props) {
		<h1 class="text-xl">Welcome to Course Manager</h1>
		<div class="flex gap-2 p-4">
			@props.ViewTermsButton()
		</div>
	}
}
