package managertemplates

templ CourseAssessmentsPageComponent(data CourseAssessmentsPage) {
	@PageLayoutComponent(data)
	@data.CategorySelectComponent()
	@data.ApplyFilterButton()
	@data.StartDateComponent()
	@data.EndDateComponent()
	<script type="module" src="/dist/assessments.js">
	</script>
	<div id="assessments">
		<ul>
			for _, assessment := range data.Assessments {
				<li>{ assessment.Name }</li>
			}
		</ul>
	</div>
}

templ AssessmentsFragmentComponent(data AssessmentsFragment) {
	<div id="assessments" class="flex flex-col">
		@data.AddAssessmentButton()
		for _, info := range data.Infos() {
			@info.Component()
		}
	</div>
}

templ AddAssessmentButtonComponent(data AssessmentsFragment) {
	<button hx-get={ data.NewAssessmentURL } hx-target="#assessments">
		Add Assessment
	</button>
}
