package managertemplates

templ CourseAssessmentsPageComponent(data CourseAssessmentsPage) {
	@PageLayoutComponent(data)
	@data.CategorySelectComponent()
	@data.DateComponent("Start", data.StartDate)
	@data.DateComponent("End", data.EndDate)
	@data.ApplyFilterButton()
	<script type="module" src="/dist/assessments.js">
	</script>
	<div id="assessments">
		<ul>
			for _, assessment := range data.Assessments {
				<li>{ assessment.Name }</li>
			}
		</ul>
	</div>
}

templ AssessmentsFragmentComponent(data AssessmentsFragment) {
	<div id="assessments" class="flex flex-col">
		@data.AddAssessmentButton()
		for _, assm := range data.Assessments {
			@data.Info(assm).Component()
			if assm.File != "" {
				@data.ViewFileLink(assm.File)
			}
		}
		<div id="file-content"></div>
	</div>
}

templ AddAssessmentButtonComponent(data AssessmentsFragment) {
	<button hx-get={ data.NewAssessmentURL } hx-target="#assessments">
		Add Assessment
	</button>
}
