package managertemplates

import "gh_static_portfolio/internal/templates/components/base"

templ CourseAssessmentsPageComponent(data CourseAssessmentsPage) {
	@PageLayoutComponent(data)
	@data.CategorySelectComponent()
	@data.ApplyFilterButton()
	@data.StartDateComponent()
	@data.EndDateComponent()
	<script type="module" src="/dist/assessments.js">
	</script>
	<div id="assessments">
		<ul>
			for _, assessment := range data.Assessments {
				<li>{ assessment.Name }</li>
			}
		</ul>
	</div>
}

templ AssessmentsFragmentComponent(infos []components.EditableInfo) {
	<div class="flex flex-col">
		for _, info := range infos {
			@info.Component()
		}
	</div>
}
