package managertemplates

templ HeadComponent() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/dist/styles.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
		<script src="/dist/htmx.js" defer></script>
		<script src="/dist/index.js" defer></script>
		<title>Course Manager</title>
	</head>
}
