package managertemplates

templ NodeDetailsComponent(props NodeDetailsPage) {
	@PageLayoutComponent(props) {
		if props.Node.ChildTypeName() != "" {
			@props.ListChildrenButton()
		}
		if props.CourseCalendarURL != "" {
			@props.CalendarButton()
		}
		<div class="flex">
			@props.ViewFilesButton()
		</div>
		<div class="flex flex-col gap-2">
			@props.DetailsFormComponent(props.IsEdit)
			{ children... }
		</div>
	}
}
