package managertemplates

templ NodeListComponent(props NodeListPage) {
	@PageLayoutComponent(props) {
		<ul>
			for i, node := range props.Children {
				if node == nil {
					<p>Node is nil!</p>
				} else {
					<li
						id={ props.ListItemElementID(node).String() }
					>
						@props.DeleteNodeButton(node)
						if node.ChildTypeName() != "" {
							@props.NodeChildrenButton(node)
						}
						@props.NodeDetailsButton(node)
						for _, data := range props.ChildUI {
							@data[i].Component()
						}
						if node.Designation() != "" {
							<span>{ node.Designation() }</span>
						}
						<span>{ node.GetName() }</span>
					</li>
				}
			}
		</ul>
		@props.NodeCreateButton()
	}
}
