package calendarviews

import (
	"gh_static_portfolio/internal/app/dto"
	"gh_static_portfolio/internal/core/occasion"
	"gh_static_portfolio/internal/util"
	"strconv"
	"time"
	"gh_static_portfolio/internal/app/components"
)

templ ShiftButtonComponent(data ShiftButton) {
	<button hx-post={ data.ShiftLessonURL } hx-target="#page">
		if data.Direction == dto.Right {
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"></path></svg>
		} else if data.Direction == dto.Left {
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"></path></svg>
		}
	</button>
}

templ CalendarLessonContainer(data CalendarLessonContainerNew) {
	<li>
		<div class="flex">
			@data.ShiftButton(dto.Left)
			<div>
				<div class="flex flex-col gap-1 items-center">
					<div class="flex">
						@data.RemoveLessonButton()
						@data.LinkWithInfoDialog()
					</div>
				</div>
			</div>
			@data.ShiftButton(dto.Right)
		</div>
	</li>
}

templ LinkWithInfoDialogComponent(data LinkWithInfoDialog) {
	if !data.Static {
		<div
			class="group bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none cursor-pointer relative inline-block group"
			hx-get={ data.URL }
			hx-target={ data.Target }
			hx-push-url={ strconv.FormatBool(data.PushURL) }
		>
			<p>
				{ data.Text }
			</p>
			<p class="left-1/2 -translate-x-1/2 absolute top-full mt-2 opacity-0 group-hover:opacity-100 transition-opacity duration-200 bg-green-800 rounded p-2 z-10 min-w-max pointer-events-none">
				{ data.Details }
			</p>
		</div>
	}
}

templ NewCalendarComponent(page CalendarPage) {
	@appcomponents.PageLayoutComponent(page)
	<div id="calendar" class="flex flex-col gap-4">
		for _, day := range MonthDates(page.GetTerm()) {
			<h1
				id={ util.KebabCase(day.Month().String()) }
				class="text-2xl text-center"
			>
				Month of { day.Month().String() } { strconv.Itoa(day.Year()) }
			</h1>
			<div id="month-container" class="flex flex-col border border-solid">
				for _, week := range util.GetMonthDates(day) {
					if HasNonZeroWeekDay(week) && WithinTerm(week, page.GetTerm()) {
						<div id="week-container" class="grid grid-cols-5">
							for _, calDate := range week[time.Monday:time.Saturday] {
								@NewCalendarDateComponent(page, DateData(calDate, page))
							}
						</div>
					}
				}
			</div>
		}
	</div>
}

templ AddOccasionButtonComponent(button AddOccasionButton) {
	<details>
		<summary>Add Occasion</summary>
		<form id={ button.FormID } class="bg-black">
			<label for="name">Name</label>
			<input type="text" class="bg-inherit" id={ button.FormID + "-name" } name="name"/>
			<input type="hidden" id={ button.FormID + "-date" } name="date" value={ button.Date.Format(time.DateOnly) }/>
			<button hx-post={ button.CreateOccasionURL } hx-include={ "#" + button.FormID } hx-target="#page">Submit</button>
		</form>
	</details>
}

templ NewCalendarDateComponent(page CalendarPage, data CalendarDate) {
	<div id="date-container" class="justify-items-center border min-h-32">
		if (!data.Date.Before(page.GetTerm().Start) && 
								!data.Date.After(page.GetTerm().End)) ||
								util.IsSameDate(data.Date, page.GetTerm().Start) ||
								util.IsSameDate(data.Date, page.GetTerm().End) {
			{ data.Date.Format("Mon 1/02/06") }
			if termCal, ok := page.(TermCalendar); ok {
				@termCal.AddOccasionButton(data.Date)
				for _, occasion := range data.Occasions {
					@termCal.TermOccasionEditor(occasion)
				}
			} else if courseCal, ok := page.(CourseCalendar); ok {
				for _, occasion := range data.Occasions {
					@OccasionComponent(occasion)
				}
				@NewCalendarLessonListComponent(courseCal, data)
			}
			<ul class="justify-items-center">
				if !page.GetTerm().IsInstructionDay(data.Date) {
					<p>No School</p>
				}
			</ul>
		}
	</div>
}

templ OccasionComponent(occasion occasion.Occasion) {
	<p class="text-lg text-blue-300 font-extrabold">{ occasion.Name }</p>
}

// for adding lessons to a date
templ UnitPickerComponent(page UnitPicker) {
	<div id="picker" class="flex flex-col max-w-fit">
		for _, unit := range page.Units {
			@page.ListLessonsButton(unit)
		}
	</div>
}

templ LessonPickerComponent(page LessonPicker) {
	@page.ListUnitsButton()
	for _, lesson := range page.Lessons {
		@page.SelectLessonButton(lesson)
	}
}
