
package calendarviews

import (
	"fmt"

	appcomponents "gh_static_portfolio/internal/app/components"
	"gh_static_portfolio/internal/app/dto"
	"time"
)

templ NewNewCalendarComponent(data CourseMonthCalendar) {
	@appcomponents.PageLayoutComponent(data)
	<div class="lg:flex lg:h-full lg:flex-col">
		<div id="dialog-container"></div>
		<header class="flex items-center justify-between border-b border-gray-200 px-6 py-4 lg:flex-none">
			<h1 class="text-base font-semibold text-gray-900">
				<time datetime={ fmt.Sprintf("%d-%s", data.Year, fmt.Sprintf("%02d", data.Month)) }>{ fmt.Sprintf("%s %d", data.Month.String(), data.Year) }</time>
			</h1>
			<div class="flex items-center">
				<div class="relative flex items-center rounded-md bg-white shadow-xs md:items-stretch">
					<button
						type="button"
						hx-get={ data.PrevMonthURL }
						hx-target="#page"
						hx-push-url="true"
						if data.PrevMonthURL == "" {
							class="flex h-9 w-12 items-center justify-center rounded-l-md border-y border-l border-gray-300 pr-1 text-gray-400 focus:relative md:w-9 md:pr-0"
							hx-disable="true"
						} else {
							class="flex h-9 w-12 items-center justify-center rounded-l-md border-y border-l border-gray-300 pr-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pr-0 md:hover:bg-gray-50 cursor-pointer"
						}
					>
						if data.PrevMonthURL != "" {
							<span class="sr-only">Previous month</span>
							<svg
								class="size-5"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
								data-slot="icon"
							>
								<path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path>
							</svg>
						}
					</button>
					<button
						type="button"
						hx-get={ data.PresentMonthURL }
						hx-target="#page"
						hx-push-url="true"
						class="hidden border-y border-gray-300 px-3.5 text-sm font-semibold text-gray-900 hover:bg-gray-50 focus:relative md:block"
					>Today</button>
					<span class="relative -mx-px h-5 w-px bg-gray-300 md:hidden"></span>
					<button
						type="button"
						hx-get={ data.NextMonthURL }
						hx-target="#page"
						hx-push-url="true"
						if data.NextMonthURL == "" {
							hx-disable="true"
							class="flex h-9 w-12 items-center justify-center rounded-r-md border-y border-r border-gray-300 pl-1 text-gray-400 focus:relative md:w-9 md:pl-0"
						} else {
							class="flex h-9 w-12 items-center justify-center rounded-r-md border-y border-r border-gray-300 pl-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pl-0 md:hover:bg-gray-50 cursor-pointer"
						}
					>
						if data.NextMonthURL != "" {
							<span class="sr-only">Next month</span>
							<svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
								<path
									fill-rule="evenodd"
									d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
									clip-rule="evenodd"
								></path>
							</svg>
						}
					</button>
				</div>
			</div>
		</header>
		<div class="shadow-sm ring-1 ring-black/5 lg:flex lg:flex-auto lg:flex-col rounded">
			<div class="grid grid-cols-5 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs/6 font-semibold text-gray-700 lg:flex-none">
				for weekday := range 7 {
					<div
						if weekday == 0 || weekday == 6 {
							class="hidden"
						}
						class="flex justify-center bg-slate-700 text-gray-200 py-2"
					>
						<span>{ time.Weekday(weekday).String()[:1] }</span>
						<span class="sr-only sm:not-sr-only">{ time.Weekday(weekday).String()[1:] }</span>
					</div>
				}
			</div>
			<div class="flex bg-gray-200 text-xs/6 text-gray-700 lg:flex-auto">
				<div class="hidden w-full lg:grid lg:grid-cols-5 lg:gap-px">
					for _, week := range data.Weeks {
						for _, date := range week {
							<!--
          Always include: "relative py-2 px-3"
          Is current month, include: "bg-white"
          Is not current month, include: "bg-gray-50 text-gray-500"
        -->
							@DateContainer(date.Date) {
								// TODO: add the add occasion button
								// add link to lesson details
								<div>
									for _, occasion := range date.TermOccasions {
										<p>Term: { occasion.Name }</p>
									}
								</div>
								<div>
									for _, occasion := range date.CourseOccasions {
										<p>Course: { occasion.Name }</p>
									}
								</div>
								<div class="flex flex-col gap-1">
									<div class="flex gap-1">
										if data.Term.IsInstructionDay(date.Date) {
											@data.AddLessonButton(date.Date)
										}
										@data.AddOccasionButton(date.Date)
									</div>
									for _, lesson := range date.Lessons {
										<div
											id={ data.LessonContainerID(lesson.ID, date.Date) }
											class="flex gap-1 items-center"
										>
											@data.RemoveLessonButton(lesson, date.Date)
											@data.ShiftButton(lesson.ParentID, lesson.ID, dto.Left, date.Date)
											@data.LessonDetailsButton(lesson.ParentID, lesson.ID, lesson.Designation())
											@data.ShiftButton(lesson.ParentID, lesson.ID, dto.Right, date.Date)
										</div>
									}
								</div>
							}
						}
					}
				</div>
				<div class="lg:hidden w-full grid grid-cols-5 gap-px">
					for _, week := range data.Weeks {
						for _, date := range week {
							<!--
          Always include: "relative py-2 px-3"
          Is current month, include: "bg-white"
          Is not current month, include: "bg-gray-50 text-gray-500"
        -->
							@DateContainer(date.Date) {
								if !data.Term.IsInstructionDay(date.Date) {
									<p>No School</p>
								}
								// TODO: add the add occasion button
								// add link to lesson details
								<div>
									for _, occasion := range date.TermOccasions {
										<p>Term Occasion: { occasion.Name }</p>
									}
								</div>
								<div>
									for _, occasion := range date.CourseOccasions {
										<p>Course Occasion: { occasion.Name }</p>
									}
								</div>
								<div>
									for _, lesson := range date.Lessons {
										<div
											id={ data.LessonContainerID(lesson.ID, date.Date) }
											class="flex gap-1 items-center"
										>
											@data.LessonDetailsButton(lesson.ParentID, lesson.ID, lesson.Designation())
										</div>
									}
								</div>
							}
						}
					}
				</div>
			</div>
		</div>
	</div>
}

templ DateContainer(date time.Time) {
	<div
		if date.Weekday() == time.Saturday || date.Weekday() == time.Sunday {
			class="hidden"
		}
		class="relative bg-slate-700 px-3 py-2 text-gray-200"
	>
		<!--
            Is today, include: "flex size-6 items-center justify-center rounded-full bg-indigo-600 font-semibold text-white"
          -->
		<time datetime={ date.Format(time.DateOnly) }>{ date.Format("Jan 2") }</time>
		{ children... }
	</div>
}
