package appcomponents

import (
	"gh_static_portfolio/internal/app/dto"
	"strconv"
	"strings"
)

// places buttons side by side
templ ButtonContainer() {
	<div class="flex gap-2 self-center">
		{ children... }
	</div>
}

templ CancelEditButton() {
	<button onclick="window.history.back()">
		Cancel
	</button>
}

func upNavText(typeName string) string {
	if typeName == string(dto.RootTypeName) {
		return "Home"
	}
	return typeName + "s"
}

templ EditNameComponent(props NodeDetailsPage) {
	@EditFieldComponent(EditField{
		FieldName:        "Name",
		Content:          props.Node.GetName(),
		IsEdit:           props.IsEdit,
		InputComponent:   InputComponent(FieldInputID("Name"), props.Node.GetName()),
		GetEditFieldURL:  props.GetEditNodeURL,
		PostEditFieldURL: props.PostEditNodeURL,
	})
}

templ EditNumberComponent(props NodeDetailsPage) {
	if props.Node.GetNumber() > 0 {
		@EditFieldComponent(EditField{
			FieldName:        "Number",
			IsEdit:           props.IsEdit,
			Content:          strconv.Itoa(props.Node.GetNumber()),
			GetEditFieldURL:  props.GetEditNodeURL,
			PostEditFieldURL: props.PostEditNodeURL,
			InputComponent:   NumInputComponent("number", props.Node.GetNumber()),
		})
	}
}

templ EditDescriptionComponent(props NodeDetailsPage) {
	@EditFieldComponent(EditField{
		FieldName:        "Description",
		Content:          props.Node.GetDescription(),
		IsEdit:           props.IsEdit,
		InputComponent:   TextAreaComponent(FieldInputID("Description"), props.Node.GetDescription()),
		PostEditFieldURL: props.PostEditNodeURL,
		GetEditFieldURL:  props.GetEditNodeURL,
	})
}

templ EditFieldComponent(
	props EditField,
) {
	<div id={ FieldContainerID(props.FieldName) } class="flex gap-2">
		<p>{ props.FieldName }:</p>
		if props.IsEdit {
			@props.InputComponent
			@CancelEditButton()
			<button
				hx-post={ props.PostEditFieldURL }
				hx-target={ "#page" }
				hx-include={ "#" + FieldInputID(props.FieldName) }
			>Submit</button>
		} else {
			<p>{ props.Content }</p>
			<button
				hx-get={ AddQueryParam(props.GetEditFieldURL, "field", FieldInputID(props.FieldName)) }
				hx-push-url="true"
				hx-swap={ "outerHTML" }
				hx-target={ "#" + FieldContainerID(props.FieldName) }
			>
				Edit
			</button>
		}
	</div>
}

templ InputComponent(inputID string, value string) {
	<input
		class="bg-black"
		type="text"
		name={ inputID }
		id={ inputID }
		value={ value }
	/>
}

templ NumInputComponent(inputID string, value int) {
	<input
		class="bg-black"
		type="number"
		name={ inputID }
		id={ inputID }
		value={ strconv.Itoa(value) }
	/>
}

templ TextAreaComponent(id string, value string) {
	<textarea
		class="bg-black"
		id={ id }
		name={ id }
	>
		{ value }
	</textarea>
}

templ PageHeadingComponent(pageTitle string) {
	<h1 class="text-2xl">{ pageTitle }</h1>
}

// Student-facing site
templ ListedLinkItem(path string, newTab bool) {
	<a href={ FilePathToURL(path) } target={ targetAttrVal(newTab) }>
		<li class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none">
			{ children... }
		</li>
	</a>
}

// created for course calendar so there wouldn't be double-styling
templ UnstyledListedLinkItem(path string, newTab bool) {
	<a href={ FilePathToURL(path) } target={ targetAttrVal(newTab) }>
		<li>
			{ children... }
		</li>
	</a>
}

// static student-facing site
func FilePathToURL(directory string) templ.SafeURL {
	route := RemoveDocsFromPath(directory)
	route = MakeAbsolute(route)
	return Sanitize(route)
}

// static student-facing site
func Sanitize(route string) templ.SafeURL {
	return templ.SafeURL(route)
}

// static student-facing site
func RemoveDocsFromPath(directory string) string {
	return strings.ReplaceAll(directory, "/docs", "")
}

// static student-facing site
func MakeAbsolute(route string) string {
	return "/" + route
}

// Student-facing site
func targetAttrVal(newTab bool) string {
	if newTab {
		return "_blank"
	}
	return "_self"
}
