package appcomponents

templ HeadComponent() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" type="image/svg+xml" href="/dist/favicon.svg"/>
		<link rel="stylesheet" href="/dist/styles.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
		<script src="/dist/htmx.js" defer></script>
		<script src="/dist/index.js" defer></script>
		<script src="/dist/code-mirror.js" defer></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css"/>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/markdown/markdown.min.js"></script>
		<title>Course Manager</title>
	</head>
}
