package appcomponents

templ HeadComponent() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Course Manager is a web-based content management system and static site generator for schools and universities. It helps instructors publish course materials as clean, ad-free static sites."/>
		<meta name="keywords" content="education, course manager, static site generator, curriculum, teaching, school, university, learning platform"/>
		<meta name="author" content="William Lapinel"/>
		<meta name="robots" content="index, follow"/>
		<link rel="icon" type="image/svg+xml" href="/dist/favicon.svg"/>
		<link rel="stylesheet" href="/dist/styles/styles.css"/>
		<link rel="stylesheet" href="/dist/styles/markdown-styles.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
		<script src="/dist/js/htmx.js" defer></script>
		<script src="/dist/js/index.js" defer></script>
		<script src="/dist/js/preview.js" defer></script>
		<script src="/dist/js/code-mirror.js" defer></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css"/>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/markdown/markdown.min.js"></script>
		<title>Course Manager</title>
	</head>
}
