{{ range site.Data.data }}
  {{ $page := dict
    "path" .path
    "url" .url
    "kind" .kind
    "type" .type
    "title" .title
    "params" .params
    "weight" .weight
  }}
  {{ $.AddPage $page }}
  <!-- Add slides.html as resources -->
  {{ if eq .type "lesson" }}
    {{ with resources.Get .params.slidesDataPath }}
      {{ $contentValue := .Content | safeHTML }}
      {{ $content := dict
        "mediaType" .MediaType.String
        "value" .Content
      }}

      {{ $resource := dict
        "title" "Slides"
        "path" $page.params.slidesPath
        "content" $content
      }}
      {{ warnf "resource found: %s, %s" . $page.params.slidesPath }}
      {{ $.AddResource $resource }}
    {{ else }}
      {{ warnf "resource not found: %s" .params.slidesDataPath }}
    {{ end }}
  {{ end }}

{{ end }}
