package templates

import (
	"gh_static_portfolio/cmd/domain"
	"time"
)

var firstLesson domain.Unit
var todaysUnit domain.Unit
var todaysLesson domain.Lesson
var previousMonday time.Time

func PreviousMonday(date time.Time) time.Time {
	days := time.Duration(date.Weekday() - 1)
	previousMonday = date.Add(-1 * 24 * time.Hour * days) // side effect alert! seems bad form but I want to "cache" result
	return date.Add(-1 * 24 * time.Hour * days)
}

func SameDate(date1 time.Time, date2 time.Time) bool {
	var d1, m1, y1 = date1.Date()
	var d2, m2, y2 = date2.Date()
	return y1 == y2 && m1 == m2 && d1 == d2
}
func TodaysLesson(date time.Time, course domain.CourseTemplate) domain.Lesson {
	for _, unit := range course.Units {
		for _, lesson := range unit.Lessons {
			for _, lessonDate := range lesson.Dates {
				if SameDate(lessonDate, date) {
					todaysLesson = lesson // side effect alert! bad form maybe but I want to "cache" result
					todaysUnit = unit     // side effect alert! bad form maybe but I want to "cache" result
					return lesson
				}

			}
		}
	}
	return domain.Lesson{}

}

// this assumes the lessons are in ascending chronological order, and that lesson dates are also sorted in ascending chronological order
func UnitDateRange(unit domain.Unit) []time.Time {
	var dates []time.Time
	lessonCount := len(unit.Lessons)
	lastLesson := unit.Lessons[lessonCount-1]
	dateCountLastLesson := len(lastLesson.Dates)
	dates = append(dates, unit.Lessons[0].Dates[0])
	dates = append(dates, lastLesson.Dates[dateCountLastLesson-1])
	return dates
}

templ CourseCalendarComponent(schedule domain.CourseSchedule) {
	@Layout(&page{title: schedule.Course.GetTitle()}) {
		@CourseDivContainer(domain.CourseInstance{}, RemoveDocsFromPath(coursesDir+"courses.html"), "Course List") {
			@CourseUnorderedList() {
				for _, day := range schedule.Schedule {
					<details class="cursor-pointer bg-blue-900 rounded p-2 m-1 text-lg hover:bg-blue-800">
						<summary>
							{ day.Date.Format(time.DateOnly) }
						</summary>
						for i, lesson := range day.Lessons {
							@ListedLinkItem(RemoveDocsFromPath(lessonFilePath(lesson, day.Units[i], schedule.Course)+FileName(lesson)), false) {
								<p>{ lesson.GetTitle() } </p>
							}
						}
					</details>
				}
			}
			@TitleDiv("Course Calendar", schedule.Course.Name+", "+schedule.Term.Name, courseFilePath(schedule.Course))
		}
	}
}
