package templates

import (
	"gh_static_portfolio/cmd/domain"
	"gh_static_portfolio/cmd/util"
	"github.com/labstack/echo/v4"
	"strconv"
)

// CourseManager site
templ CourseManagerLayout(pageTitle string, page templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/dist/styles.css"/>
			<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
			<script src="/dist/htmx.js" defer></script>
			<title>{ pageTitle }</title>
		</head>
		// TODO: need to make the header
		<header>
			<ul>
				<li></li>
			</ul>
		</header>
		<body class="bg-slate-800 text-white">
			<main id="page">
				@page
			</main>
		</body>
	</html>
}

templ ManagerHomePage() {
	<h1>Welcome to Course Manager</h1>
}

// CourseManager site
templ TermsListTemplate(terms []domain.Term, coursesRouteName string, e *echo.Echo) {
	for _, term := range terms {
		<ul>
			<li>
				<button hx-get={ e.Reverse(coursesRouteName, term.ID) } hx-target="#page" hx-push-url="true">
					{ term.Name }
				</button>
			</li>
		</ul>
	}
}

type ShiftButtonFactory struct {
	TermID                      int
	CourseID                    int
	ShiftLessonRouteHandlerName string
	e                           *echo.Echo
}

func NewShiftButtonFactory(course domain.Course, shiftLessonHandlerName string, e *echo.Echo) ShiftButtonFactory {
	return ShiftButtonFactory{
		TermID:                      course.Term.ID,
		CourseID:                    course.ID,
		ShiftLessonRouteHandlerName: shiftLessonHandlerName,
		e:                           e,
	}

}

func (sbf ShiftButtonFactory) ShiftButton(unitID, lessonID int, cd domain.CalendarDirection) templ.Component {
	return ShiftButtonTemplate(sbf.TermID, sbf.CourseID, unitID, lessonID, sbf.ShiftLessonRouteHandlerName, cd, sbf.e)
}

templ ShiftButtonTemplate(termID, courseID, unitID, lessonID int, shiftLessonRouteHandlerName string, cd domain.CalendarDirection, e *echo.Echo) {
	<button hx-post={ e.Reverse(shiftLessonRouteHandlerName, termID, courseID, unitID, lessonID, cd) } hx-target="#page">
		if cd == domain.Right {
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"></path></svg>
		} else if cd == domain.Left {
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"></path></svg>
		}
	</button>
}

templ CalendarLessonContainer(sbf ShiftButtonFactory, lesson domain.Lesson, lessonDetailsRouteHandlerName string) {
	<li>
		<div class="flex">
			@sbf.ShiftButton(lesson.UnitID, lesson.ID, domain.Left)
			<div
				class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none cursor-pointer"
				hx-get={ sbf.e.Reverse(lessonDetailsRouteHandlerName, 
															sbf.TermID, 
															sbf.CourseID, 
															lesson.UnitID, 
															lesson.ID,
															) }
				hx-target="#page"
				hx-push-url="true"
			>
				{ lesson.Name }
			</div>
			@sbf.ShiftButton(lesson.UnitID, lesson.ID, domain.Right)
		</div>
	</li>
}

// CourseManager site
templ CourseCalendarTemplate(course domain.Course, lessonDetailsRouteHandlerName, shiftLessonRouteHandlerName string, e *echo.Echo) {
	<div id="calendar" class="flex flex-col gap-4">
		for _, day := range course.Term.TermMonths() {
			<h1 class="text-2xl text-center">Month of { day.Month().String() } { strconv.Itoa(day.Year()) }</h1>
			<div id="month-container" class="flex flex-col border border-solid">
				for _, week := range util.GetMonthDates(day) {
					<div id="week-container" class="grid grid-cols-5">
						for _, calDate := range week[1:6] {
							<div id="date-container">
								if !calDate.IsZero() {
									{ calDate.Format("Mon 1/02/06") }
								}
								<ul>
									if course.Term.IsInstructionDay(calDate) {
										for _, unit := range course.Units {
											for _, lesson := range unit.Lessons {
												for _, lessonDate := range lesson.Dates {
													if util.IsSameDate(lessonDate, calDate) {
														@CalendarLessonContainer(NewShiftButtonFactory(course, shiftLessonRouteHandlerName, e), *lesson, lessonDetailsRouteHandlerName)
													}
												}
											}
										}
									}
								</ul>
							</div>
						}
					</div>
				}
			</div>
		}
	</div>
}

// CourseManager site
templ CoursesListTemplate(
	termID int, courses domain.Courses, unitsRouteHandlerName string, courseCalendarRouteHandlerName string, e *echo.Echo,
) {
	for _, course := range courses {
		<ul>
			<li>
				<button hx-get={ e.Reverse(unitsRouteHandlerName, termID, course.ID) } hx-target="#page" hx-push-url="true">
					{ course.Name }
				</button>
				<button hx-get={ e.Reverse(courseCalendarRouteHandlerName, termID, course.ID) } hx-target="#page" hx-push-url="true">
					{ course.Name }
				</button>
			</li>
		</ul>
	}
}

// CourseManager site
templ UnitsListTemplate(termID, courseID int, units []*domain.Unit, unitRouteName string, e *echo.Echo) {
	for _, unit := range units {
		<ul>
			<li>
				<button hx-get={ e.Reverse(unitRouteName, termID, courseID, unit.ID) } hx-target="#page" hx-push-url="true">
					{ unit.Name }
				</button>
			</li>
		</ul>
	}
}

// CourseManager site
templ LessonListTemplate(termID, courseID, unitID int, lessons []*domain.Lesson, lessonRouteName string, e *echo.Echo) {
	for _, lesson := range lessons {
		<ul>
			<li>
				<button hx-get={ e.Reverse(lessonRouteName, termID, courseID, unitID, lesson.ID) } hx-target="#page" hx-push-url="true">
					{ lesson.Name }
				</button>
			</li>
		</ul>
	}
}
