package templates

import (
	"gh_static_portfolio/cmd/domain"
	"github.com/labstack/echo/v4"
	"log"
	"net/url"
	"time"
)

func AddQueryParam(path, key, value string) string {
	u, err := url.Parse(path)
	if err != nil {
		log.Println(err)
		return ""
	}
	query := u.Query()
	query.Set(key, value)
	u.RawQuery = query.Encode()
	log.Println(u.String())
	return u.String()
}

// CourseManager site
templ LessonDetailsTemplate(
	params CourseIDParams,
	lesson *domain.Lesson,
	unit *domain.Unit,
	course *domain.Course,
	slidesRouteName, editSlidesRouteHandlerName, editLessonRouteHandlerName, postEditLessonRouteHandlerName string,
	editor LessonEditor,
	e *echo.Echo) {
	if !(lesson.Image.ID == 0) {
		<p>this lesson has an image, I just need to figure out how to render it</p>
	}
	<div class="flex flex-col">
		@editor.LessonName(false)
		@editor.LessonDescription(false)
		<a
			class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none cursor-pointer"
			href={ LessonFilesURL(*lesson, *unit, *course) }
			target="_blank"
		>Files</a>
		<a
			class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none cursor-pointer"
			href={ templ.SafeURL(e.Reverse(slidesRouteName, params.ToIntSlice()...)) }
			target="_blank"
		>View Slides</a>
		<button hx-get={ e.Reverse(editSlidesRouteHandlerName, params.ToIntSlice()...) } hx-target="#editor" hx-swap="outerHTML">
			Edit Slides
		</button>
		<textarea id="editor" hidden></textarea>
		for _, date := range lesson.Dates {
			<ul>
				<li>
					{ date.Format(time.DateOnly) }
				</li>
			</ul>
		}
	</div>
}

type LessonEditor struct {
	Params                 CourseIDParams
	GetEditLessonRHN       string // route handler name to retrieve form upon clicking edit
	PostEditLessonRHN      string // route handler name to post edits upon clicking submit
	E                      *echo.Echo
	Lesson                 domain.Lesson
	DescriptionContainerID ElementID
	DescriptionInputID     ElementID
	NameContainerID        ElementID
	NameInputID            ElementID
}

const (
	EditLessonDescID ElementID = "lesson-desc-input"
	EditLessonNameID ElementID = "lesson-name-input"
)

func NewLessonEditor(params CourseIDParams, getEdit, postEdit string, e *echo.Echo, lesson domain.Lesson) LessonEditor {
	return LessonEditor{
		Params:                 params,
		GetEditLessonRHN:       getEdit,
		PostEditLessonRHN:      postEdit,
		E:                      e,
		Lesson:                 lesson,
		DescriptionContainerID: "lesson-desc-container",
		DescriptionInputID:     EditLessonDescID,
		NameContainerID:        "lesson-name-container",
		NameInputID:            EditLessonNameID,
	}
}

func (editor LessonEditor) LessonDescription(isEdit bool) templ.Component {
	input := DescriptionInput(editor.DescriptionInputID, editor.Lesson.Description)
	return LessonFieldTemplate(
		editor.Lesson,
		editor.Params,
		editor.GetEditLessonRHN,
		editor.PostEditLessonRHN,
		editor.DescriptionContainerID,
		editor.DescriptionInputID,
		editor.E,
		isEdit,
		input,
		editor.Lesson.Description,
	)
}

func (editor LessonEditor) LessonName(isEdit bool) templ.Component {
	input := NameInput(editor.NameInputID, editor.Lesson.Name)
	return LessonFieldTemplate(
		editor.Lesson,
		editor.Params,
		editor.GetEditLessonRHN,
		editor.PostEditLessonRHN,
		editor.NameContainerID,
		editor.NameInputID,
		editor.E,
		isEdit,
		input,
		editor.Lesson.Name,
	)
}

templ DescriptionInput(inputID ElementID, description string) {
	<textarea
		id={ string(inputID) }
		class="bg-black min-w-52 min-h-fit"
		name={ string(inputID) }
	>{ description }</textarea>
}

templ NameInput(inputID ElementID, name string) {
	<input
		class="bg-black"
		id={ string(inputID) }
		name={ string(inputID) }
		type="text"
		value={ name }
	/>
}

templ LessonFieldTemplate(
	lesson domain.Lesson,
	params CourseIDParams,
	editLessonRouteHandlerName, postEditLessonRouteHandlerName string,
	containerID ElementID,
	inputID ElementID,
	e *echo.Echo,
	isEdit bool,
	input templ.Component,
	content string,
) {
	<div id={ string(containerID) } class="flex">
		if isEdit {
			@input
			@CancelEditButton()
			<button
				hx-post={ e.Reverse(postEditLessonRouteHandlerName, params.ToIntSlice()...) }
				hx-target={ string(containerID.Selector()) }
				hx-include={ string(inputID.Selector()) }
			>Submit</button>
		} else {
			<p>{ content }</p>
			@EditLessonFieldButton(AddQueryParam(e.Reverse(
				editLessonRouteHandlerName,
				params.ToIntSlice()...,
			), "field", kebabCase(string(inputID))), inputID, containerID)
		}
	</div>
}

templ EditLessonFieldButton(url string, buttonID ElementID, containerID ElementID) {
	<button
		id={ string(buttonID) }
		hx-get={ url }
		hx-push-url="true"
		hx-swap={ "outerHTML" }
		hx-target={ string(containerID.Selector()) }
	>
		Edit
	</button>
}

templ CancelEditButton() {
	<button onclick="window.history.back()">
		Cancel
	</button>
}

type ElementID string

func (i ElementID) Selector() ElementID {
	return "#" + i
}

const (
	EditSlidesTextAreaID ElementID = "editor"
)

templ EditSlidesTemplate(params CourseIDParams, contents string, editSlidesPostRouteHandler string, e *echo.Echo) {
	<textarea id="editor" name={ string(EditSlidesTextAreaID) } class="bg-slate-900 min-w-full min-h-96 font-mono">
		{ contents }
	</textarea>
	<button hx-post={ e.Reverse(editSlidesPostRouteHandler, params.ToIntSlice()...) } hx-include={ string(EditSlidesTextAreaID.Selector()) }>
		Submit
	</button>
}
