package statictemplates

import (
	"gh_static_portfolio/internal/domain"
	"gh_static_portfolio/internal/util"
	"strconv"
)

// Student-facing site
templ ListedLinkItem(path string, newTab bool) {
	<a href={ FilePathToURL(path) } target={ targetAttrVal(newTab) }>
		<li class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none">
			{ children... }
		</li>
	</a>
}

// Student-facing site
templ ListedLinkItemAbsoluteURL(path templ.SafeURL, newTab bool) {
	<a href={ path } target={ targetAttrVal(newTab) }>
		<li class="bg-purple-600 rounded p-2 m-1 text-lg hover:bg-purple-500 list-none">
			{ children... }
		</li>
	</a>
}

// Student-facing site
templ BackButton(path, text string) {
	<a href={ FilePathToURL(path) }>
		<li class="flex gap-2 text-lg mb-10 items-center bg-green-600 p-3 rounded hover:bg-green-500">
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"></path></svg>
			<p>Up to { text }</p>
		</li>
	</a>
}

// Student-facing site
// Title for page. Path allows checking for image
templ TitleDiv(title, description, imgPath string, showImg bool, lightBg bool, standards ...domain.Standard) {
	<div class="flex flex-col gap-6 max-w-3xl">
		<h1 class=" text-4xl">{ title }</h1>
		<p class="text-2xl">{ description }</p>
		if len(standards) != 0 {
			<details>
				<summary class="text-xl">Standards/Objectives</summary>
				<ul>
					for _, standard := range standards {
						<li>{ strconv.Itoa(standard.Number) }: { standard.Name }</li>
					}
				</ul>
			</details>
		}
		if showImg == true {
			if lightBg {
				<img src={ string(FilePathToURL(imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400 bg-blue-300"/>
			} else {
				<img src={ string(FilePathToURL(imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400"/>
			}
		}
	</div>
}

templ TitleDivNewComponent(data TitleDivData) {
	<div class="flex flex-col gap-6 max-w-3xl">
		<h1 class=" text-4xl">{ data.title }</h1>
		<p class="text-2xl">{ data.description }</p>
		if len(data.standards) != 0 {
			<details>
				<summary class="text-xl">Standards/Objectives</summary>
				<ul>
					for _, standard := range data.standards {
						<li>{ strconv.Itoa(standard.Number) }: { standard.Name }</li>
					}
				</ul>
			</details>
			if len(data.Assessments)!=0 {
				<details>
					<summary class="text-xl">Assignments</summary>
					<ul>
						for _, assessment := range data.Assessments {
							<li class="flex gap-1 flex-col">
								<span>
									{ assessment.Name }
								</span>
								<span>
									{ util.Capitalize(assessment.Category.String()) }
								</span>
								if assessment.Instructions != "" {
									<span class="border border-green-500 rounded bg-slate-900 text-green-500 p-2">
										<pre>
											{ assessment.Instructions }
										</pre>
									</span>
								}
								<span>
									Due: { assessment.DateDue.Format("Mon 1/2/2006") }
								</span>
								if assessment.Dropped {
									<span>
										Status: Dropped
									</span>
								} else {
									<span>
										Status: Active
									</span>
								}
							</li>
						}
					</ul>
				</details>
			}
		}
		if data.showImg == true {
			if data.lightBg {
				<img src={ string(FilePathToURL(data.imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400 bg-blue-300"/>
			} else {
				<img src={ string(FilePathToURL(data.imgPath)) } class="max-w-full h-auto rounded border border-solid border-purple-400"/>
			}
		}
	</div>
}
