package statictemplates

import (
	"gh_static_portfolio/internal/domain"
	"gh_static_portfolio/internal/templates"
	"path/filepath"
	"strconv"
)

// Student-facing site
templ CourseDivContainer(course domain.Course, upPath, text string) {
	<nav class="flex gap-2 ml-4">
		if course.Term.Name != "" {
			<a href={ FilePathToURL(NewCourseCalendarPage(course).Path) }>
				<li class="flex gap-2 text-lg items-center bg-green-600 p-3 rounded hover:bg-green-500">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"></path></svg>
					{ course.Term.Name } Course Calendar
				</li>
			</a>
		}
		if upPath != "" {
			@BackButton(upPath, text)
		}
	</nav>
	<div class="p-4 flex gap-3 flex-col md:flex-row">
		{ children... }
	</div>
}

// Student-facing site
templ CourseUnorderedList() {
	<ul class="max-w-fit min-w-fit">
		{ children... }
	</ul>
}

// Student-facing site
func targetAttrVal(newTab bool) string {
	if newTab {
		return "_blank"
	}
	return "_self"
}

// Student-facing site
templ CoursesListComponent(instances []domain.Course) {
	@Layout(NewCoursesListPage(nil)) {
		@CourseDivContainer(domain.Course{}, "", "") {
			@CourseUnorderedList() {
				for _, instance := range instances {
					@ListedLinkItem(templates.CoursePath(instance, true), false) {
						<p>{ instance.Name }</p>
					}
				}
			}
			@TitleDiv("Python Courses at Phillip O. Berry Academy of Technology", "This section is for students of Python I and II at Phillip O. Berry Academy of Technology. Included are links to all course slides, files and other resources. All assignments must be submitted via Canvas.", "./python/docs/images/Berry_Cardinals.png", true, true)
		}
	}
}

// Student-facing site
templ CourseComponent(instance domain.Course) {
	@Layout(Page{Title: instance.Name}) {
		@CourseDivContainer(instance, templates.StaticSiteCoursesDir+"courses.html", "Course List") {
			@CourseUnorderedList() {
				for _, unit := range instance.Units {
					@ListedLinkItem(templates.UnitPath(unit, instance, true), false) {
						if unit.Number < 0 {
							{ unit.Description }
						} else {
							Unit { strconv.Itoa(unit.Number) }: { unit.Description }
						}
					}
				}
			}
			@TitleDiv(instance.Name, instance.Description, filepath.Join(templates.CoursePath(instance, false), instance.Image.BasePath), instance.Image.ID != 0, false)
		}
	}
}
