package statictemplates

import "gh_static_portfolio/internal/templates"

// Student-facing site
templ LessonComponent(page LessonPage) {
	@Layout(Page{Title: page.Course.Name}) {
		@CourseDivContainer(page.Course, templates.UnitPath(page.Unit, page.Course, true), page.Unit.Name) {
			@CourseUnorderedList() {
				if page.HasSlides {
					@ListedLinkItem(SlidesPath(page.Lesson, page.Unit, page.Course), true) {
						Slides
					}
				} else {
					<p>No content for this lesson yet!</p>
				}
				if page.HasFiles {
					@ListedLinkItemAbsoluteURL((templates.LessonFilesURL(page.Lesson, page.Unit, page.Course)), true) {
						Other Files
					}
				}
			}
			@page.TitleDivNew()
		}
	}
}
