package components

templ HxButtonComponent(props Button) {
	<button
		{ props.Attributes... }
		if props.Method == HxGet {
			hx-get={ props.URL }
		}
		if props.Method == HxPost {
			hx-post={ props.URL }
		}
		if props.Method == HxDelete {
			hx-delete={ props.URL }
		}
		if props.Class == "" {
			class="max-w-fit flex gap-1 items-center rounded-md bg-indigo-500 px-3 py-2 font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
		} else {
			class={ props.Class }
		}
		if props.HxTarget != "" {
			hx-target={ props.HxTarget }
		}
		if props.PushURL {
			hx-push-url="true"
		}
		if props.HxSwap != "" {
			hx-swap={ string(props.HxSwap) }
		}
		if props.HxConfirm !="" {
			hx-confirm={ props.HxConfirm }
		}
	>
		if props.Image != nil {
			@props.Image
		}
		{ props.Text }
		{ children... }
	</button>
}
