package components

templ LinkComponent(data Link) {
	<a
		{ data.Attributes... }
		if !data.HTMX {
			href={ templ.SafeURL(data.URL) }
			target={ data.Target.String() }
		}
		if data.Class != "" {
			class={ data.Class }
		} else {
			class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 cursor-pointer"
		}
	>
		{ data.Text }
	</a>
}
