package components

templ TableComponent(data Table) {
	<div class="bg-gray-900">
		<div class="mx-auto max-w-7xl">
			<div class="bg-gray-900 py-10">
				<div class="px-4 sm:px-6 lg:px-8">
					<div class="sm:flex sm:items-center">
						<div class="sm:flex-auto">
							<h1 class="text-base font-semibold text-white">{ data.Title }</h1>
							<p class="mt-2 text-sm text-gray-300">{ data.Subtitle }</p>
						</div>
					</div>
					<div class="mt-8 flow-root">
						<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
							<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
								<table class="min-w-full divide-y divide-gray-700">
									<thead>
										<tr>
											for _, header := range data.Headers {
												@tableHeaderComponent() {
													{ header }
												}
											}
										</tr>
									</thead>
									<tbody class="divide-y divide-gray-800">
										for _, row := range data.Rows {
											<tr>
												for _, cell := range row {
													@cell
												}
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

templ tableCellComponent() {
	<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-300">
		{ children... }
	</td>
}

templ tableTextCellComponent(data TableTextCell) {
	@tableCellComponent() {
		{ data.Text }
	}
}

templ tableLinkCellComponent(data TableLinkCell) {
	@tableCellComponent() {
		<a
			class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
			href={ templ.SafeURL(data.URL) }
		>
			{ data.Text }
		</a>
	}
}

templ tableHeaderComponent() {
	<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">
		{ children... }
	</th>
}
