package hugo

templ HugoConfigComponent(config HugoConfig) {
	baseURL = { config.BaseURL }\n
	languageCode = 'en-us'\n
	title = { config.Title }
	[module]\n
	[[module.mounts]]\n\n
	source = 'content'\n
	target = 'content'\n
	[[module.mounts]]\n
	source = { config.UserDataPath }\n
	target = 'content'\n
	[[module.mounts]]\n
	source = '/app/internal/staticresources/content'\n
	target = 'content'\n
	[[module.mounts]]\n
	source = 'assets'\n
	target = 'assets'\n
	[[module.mounts]]\n
	source = { config.UserDataPath }\n
	target = 'assets'\n
	[[module.mounts]]\n
	source = 'static'\n
	target = 'static'\n
	[[module.mounts]]\n
	source = '/app/internal/staticresources/static'\n
	target = 'static'\n
	[[module.mounts]]\n
	source = 'layouts'\n
	target = 'layouts'\n
	[[module.mounts]]\n
	source = '/app/internal/staticresources/layouts'\n
	target = 'layouts'\n
}
